// _responsive.scss
/* Responsive */

@media screen and (max-width:1250px){
	#cw-wrap {
		section.body {
			.lft-hlf,
			.rgt-hlf {
				.content {
					.ccm-image-block.img-responsive {
						width:$col-one;
						height:auto;
					}
				}
			}
		}
	}
}

@media screen and (max-width:1040px){
	#cw-wrap {
		header.main {
			.logo {
				h1 {font-size:1.5em;}
				p.desc {font-size:0.85em;}
			}
			nav.main {
				ul.nav li a {margin-left:30px;}
			}
		}
		section.intro {
			.content {
				p.hd-tp {font-size:1.2em;}
				p.hd-bt {
					font-size:1.4em;
					margin-top:10px;
				}
			}
		}
		section.banner {height:400px;}
		section.latest-news {
			.lft-thrd {width:$col-one / 2 !important;}
			.lft-thrd:last-child {display:none;}
		}
		section.body,
		section.recent-design {
			figure.effect-bubba {width:$col-one / 2;}
		}
		section.body {
			.ccm-image-block {
				width:$col-one;
				height:auto;
			}
		}
	}
}
@media screen and (max-width:950px) {
	#cw-wrap {
		header.main {
			.cntr .flt {
				.lft-hlf {
					width:$col-one / 3 * 2 !important;
					padding-left:20px !important;
				}
				.rgt-hlf {
					width:$col-one / 3 !important;
					padding:60px 20px 40px 0 !important;
					nav.main {
						.resp-nav {display:block;}
						.resp-nav a {
							background:$col-pri-1;
							padding:0 10px 5px 10px;
							color:$col-whi !important;
							font-size:$type-lrg !important;
							text-align:center;
						}
						ul.nav {
							position:fixed;
							background:rgba(108,126,132,0.8);
							margin:0;
							padding:10px 0 0 10px;
							width:$col-one;
							height:$col-one;
							top:0;
							left:0;
							z-index:+9999;
							li {
								display:list-item;
								margin:0;
								padding:5px;
								text-align:left;
								width:$col-one;
								a {
									display:inline-block;
									background:$col-whi;
									margin:0;
									padding:12px 50px 12px 12px;
								}
							}
							display:none;
						}
						p {display:none;}
					}
				}
			}
		}
		section.intro {
			.cntr .flt {
				.lft-hlf {
					padding:50px 15px 50px 20px;
					p.hd-tp {font-size:0.90em;}
					p.hd-bt {font-size:1.15em;}
				}
				.rgt-hlf {
					padding:50px 20px 50px 15px;
					.content p {font-size:0.90em;}
					.content p em {font-size:0.80em;}
				}
			}
		}
		section.banner {background-attachment:scroll;}
		section.services {
			.cntr .flt {
				.lft-hlf {padding-left:20px;}
				.rgt-hlf {padding-right:20px;}
			}
		}
		section.latest-news {
			.cntr .flt {
				.lft-thrd {
					padding-left:20px;
					padding-right:20px;
				}
			}
		}
		section.body {
			.cntr {
				.content {
					padding-left:20px;
					padding-right:20px;
				}
				.content.align-left.single.nul.nub {margin-bottom:10px;}
				.flt.single {
					.lft-four {
						padding-left:20px;
						.content {
							padding-right:20px;
							padding-left:0;
						}
					}
					.lft-hlf.nul,
					.lft-hlf.nub {
						padding-left:20px;
						.content {
							padding-right:0;
							padding-left:0;
							margin-bottom:10px;
						}
					}
					.rgt-hlf.nul.type,
					.rgt-hlf.nub {
						padding-right:20px;
						.content {
							padding-right:0;
							padding-left:0;
							margin-bottom:10px;
						}
					}
				}
				.flt {
					.lft-man,
					.lft-hlf {
						padding-left:20px;
						.content {
							padding-right:0;
							padding-left:0;
						}
					}
					.rgt-man,
					.rgt-hlf {
						padding-right:20px;
						.content {
							padding-right:0;
							padding-left:0;
						}
					}
				}
			}
		}
		footer.main {
			.cntr .flt {
				.lft-twth {
					width:$col-one / 2;
					padding-top:30px !important;
					padding-bottom:30px !important;
					padding-right:20px;
					padding-left:20px;
				}
			}
		}
		section.copyright {
			.cntr .flt {
				.lft-hlf {
					padding-left:20px;
					padding-right:15px;
				}
				rgt-hlf {
					padding-right:20px;
					padding-left:15px;
				}
			}
		}
	}
}
@media screen and (max-width:768px) {
	#cw-wrap {
		section.body {
			.cntr .flt {
				.lft-four {
					width:$col-one / 2 !important;
					padding:0;
					min-height:270px;
				}
				.lft-man,
				.lft-hlf {
					width:$col-one !important;
					padding-right:20px;
					padding-bottom:10px;
					padding-left:20px;
					.content.logo {
						div:first-child img {
							max-width:332px;
							height:auto;
						}
					}
				}
				.rgt-man,
				.rgt-hlf {
					width:$col-one !important;
					padding-top:10px;
					padding-right:20px;
					padding-left:20px;
				}
			}
			.tmp-wr {
				.product-detail-block {
					.col-container {
						display:inline-block;
						.vivid-store-col-2 {
							width:$col-one;
							.product-additional-images {display:none;}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:592px) {
	#cw-wrap {
		.align-right, .align-left {text-align:left !important;}
		.split {height:60px;}
		.split.tall {height:140px;}
		.abtn {padding:15px 20px;}
		header.main {
			.cntr .flt {
				.lft-hlf, .rgt-hlf {width:$col-one !important;}
				.rgt-hlf {
					padding:0 !important;
					nav.main {
						.resp-nav a {
							display:block;
							width:$col-one;
							padding:10px 0;
						}
						ul.nav, p {display:none;}
					}
				}
			}
		}
		section.intro {
			.cntr .flt {
				.lft-hlf, .rgt-hlf {width:$col-one;}
				.lft-hlf {
					padding:30px 15px 10px 20px;
					p.hd-tp {font-size:0.90em;}
					p.hd-bt {font-size:1.17em;}
				}
				.rgt-hlf {
					padding:10px 20px 30px 15px;
					.content p em {font-size:0.85em !important;}
				}
			}
		}
		section.banner {height:300px;}
		section.body,
		section.recent-design {
			figure.effect-bubba {
				width:$col-one;
				height:225px;
			}
		}
		section.body,
		section.recent-design {
			figure.effect-bubba {
				h2 {padding-top:75px;}
			}
		}
		section.services {
			.cntr .flt {
				.lft-hlf, .rgt-hlf {
					width:$col-one;
					padding-left:20px;
					padding-right:20px;
				}
				.lft-hlf {padding-bottom:20px;}
				.rgt-hlf {padding-top:20px;}
			}
		}
		section.latest-news {
			.cntr .flt {
				.lft-thrd {
					width:$col-one !important;
					padding-top:10px !important;
				}
				.lft-thrd:first-child {
					padding-top:30px !important;
					padding-bottom:10px !important;
				}
			}
		}
		footer.main {
			.cntr .flt {
				.lft-twth {
					width:$col-one / 2;
					padding-top:30px !important;
					padding-bottom:30px !important;
					padding-right:20px;
					padding-left:20px;
				}
				.lft-twth:nth-child(3) {width:$col-one / 2 - 10;margin-left:10%;}
				.lft-twth:nth-child(2), .lft-twth:last-child {display:none;}
			}
		}
		section.copyright {
			.cntr .flt {
				.lft-hlf, .rgt-hlf {
					width:$col-one;
					padding:2px 20px;
				}
				.lft-hlf {padding-top:30px;}
				.rgt-hlf {padding-bottom:40px;}
			}
		}
	}
}
@media screen and (max-height:440px) {
	#cw-wrap {
		header.main {
			.cntr .flt {
				.rgt-hlf {
					nav.main {
						ul.nav {
							text-align:left;
							li {
								text-align:left;
								display:inline;
								a {
									display:inline-block;
									background:$col-whi;
									margin:0 0 10px 0;
									padding:12px 50px 12px 12px;
								}
							}
							display:none;
						}
						p {display:none;}
					}
				}
			}
		}
		section.body {
			.cntr .flt {
				.lft-four {
					min-height:400px !important;
				}
			}
		}
	}
}
@media screen and (max-width:440px) {
	#cw-wrap {
		section.body {
			.cntr .flt {
				.lft-four {min-height:285px !important;}
			}
		}
	}
}
@media screen and (max-width:330px) {
	#cw-wrap {
		section.intro {
			.cntr .flt {
				.lft-hlf {
					p.hd-tp {font-size:0.80em;}
					p.hd-bt {font-size:0.95em;}
				}
				.rgt-hlf {
					.content p {font-size:0.95em;}
				}
			}
		}
		section.body {
			.cntr .flt {
				.lft-four {min-height:370px !important;}
			}
		}
		footer.main {
			.cntr .flt {
				.lft-twth {
					width:$col-one;
					padding-top:30px !important;
					padding-bottom:5px !important;
				}
				.lft-twth:nth-child(3) {
					width:$col-one;
					margin-left:0;
					padding-bottom:30px !important;
				}
			}
		}
	}
}