// _typography.scss
/* Typography */
#cw-wrap, .ecoms {
	/* Headings */
	h1, h1 * {
		font-family:$type-pri;
		font-size:$type-xlrg;
	}
	h2, h2 * {
		@extend h1;
		font-size:$type-lrg;
		color:$col-pri-3;
	}
	h3, h3 * {
		@extend h1;
		font-size:$type-med;
		color:$col-gry;
	}
	h3.sunk {
		position:absolute;
		display:inline-block;
		background:$col-whi;
		margin:-29px 0 0 30px;
		padding:5px 5px 5px 10px;
		font-size:1.1em;
	}
	/* Paragraph */
	p {
		padding:4px 0 4px 0;
		color:$col-sec-1;
		letter-spacing:0.02em;
	}
	strong, strong *,
	b, b * {
		font-weight:700;
		font-size:inherit;
	}
	em, em *, * em,
	i, i *, * i {
		font-style:italic !important;
		font-size:inherit !important;
		color:#babdc0 !important;
	}
	u, u * {
		text-decoration:underline;
		font-size:inherit;
	}
	sub, sup {font-size:$type-xsml;}
	a, a * {
		font-size:inherit !important;
		cursor:pointer !important;
		-webkit-transition-duration:$abtn-speed;
		-moz-transition-duration:$abtn-speed;
		-o-transition-duration:$abtn-speed;
		transition-duration:$abtn-speed;
	}
	a:hover {opacity:$abtn-trans;}
	// Blockquote
	blockquote {
		margin:15px 20px 15px 30px;
		padding:20px 20px;
		color:$col-pri-3;
		p {
			display:inline;
			padding:10px 0 !important;
		}
	}
	blockquote:before {
		content:"\201C";
		font-size:3em;
		line-height:0.1em;
		margin-right:10px;
		vertical-align:-15px;
		color:$col-pri-1;
	}
	blockquote:after {
		content:"\201E";
		font-size:2em;
		line-height:0.1em;
		padding-left:10px;
		vertical-align:-20px;
		color:$col-pri-1;
	}
	/* Text Colours */
	*.colour-pri-one, .colour-pri-one * {color:$col-pri-1;}
	*.colour-pri-two, .colour-pri-two * {color:$col-pri-2;}
	*.colour-pri-three, .colour-pri-three * {color:$col-pri-3;}
	*.colour-white, .colour-white * {color:$col-whi;}
	/* Buttons */
	.abtn {
		display:inline-block;
		background:$col-pri-1;
		margin:10px 10px 10px 0;
		padding:12px 30px;
		color:$col-whi;
		border:0;
		line-height:normal !important;
		-webkit-transition-duration:$abtn-speed;
		-moz-transition-duration:$abtn-speed;
		-o-transition-duration:$abtn-speed;
		transition-duration:$abtn-speed;
		-webkit-border-radius:0 !important;
		-moz-border-radius:0 !important;
		border-radius:0 !important;
	}
	.abtn.sml {
		background:$col-pri-2;
		margin:10px 0 10px 10px;
		padding:7px 20px;		
	}
	.abtn.blue {
		background:$col-pri-2;
	}
	.abtn.red {
		background:#cd4642;
	}
	.abtn.black {
		background:$col-sec-1;
	}
	.abtn:hover {opacity:$abtn-trans;}
	// Forms
	form {
		input[type="submit"] {
			display:block;
			background:$col-pri-1;
			width:auto !important;
			margin:10px 10px 10px 0;
			padding:12px 30px;
			color:$col-whi;
			font-size:inherit;
			font-family:inherit;
			cursor:pointer;
			border:0;
		}
		input[type="submit"]:hover {opacity:$abtn-trans;}
		label {
			font-weight:400;
			span {
				font-size:0.7em;
				color:#888888;
			}
		}
	}
	input, textarea, select, textarea {
		background:#f9f9f9;
		width:$col-one - 10;
		margin:10px 0 10px 0;
		padding:10px;
		border:1px $col-gry solid;
		border-radius:0;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		-webkit-transition-duration:$abtn-speed;
		-moz-transition-duration:$abtn-speed;
		-o-transition-duration:$abtn-speed;
		transition-duration:$abtn-speed;
	}
	select {
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
	}
	.checkboxList .checkbox {
		display:inline-block;
		margin-right:30px;
		input {
			width:auto !important;
			margin-right:5px;
			margin-bottom:10px;
		}
	}
	input:focus, textarea:focus, select:focus, textarea:focus {background:inherit;}
	// Mailchimp
	#mc_embed_signup {
		.button.abtn {
			display:inline-table;
			background:$col-sec-2;
			padding:10px 15px;
			border:0;
			font-family:$type-sec;
			text-align:left;
			font-size:$type-def;
			width:auto;
			cursor:pointer;
			-webkit-transition-duration:$abtn-speed;
			-moz-transition-duration:$abtn-speed;
			-o-transition-duration:$abtn-speed;
			transition-duration:$abtn-speed;
		}
		.button.abtn:hover {opacity:$abtn-trans;}
		.mc-field-group input {
			font-family:$type-sec;
			font-size:$type-sml;
		}
	}
	// Lists
	.content ul {
		margin-left:0;
		padding-bottom:30px;
		li {
			list-style:none;
			margin-bottom:8px;
			background-image:url('../img/cons/bkgrnd-splitter.svg');
			background-size:8px 8px;
			background-repeat:repeat-x;
			a {
				display:block;
				padding:8px 8px 0 8px;
			}
		}
		li.repo-close {display:none;}
	}
	.content ol {
		margin-left:0;
		padding-bottom:30px;
		li {
			list-style:none;
			padding:8px 8px 0 8px;
			color:$col-pri-3;
			font-size:$type-sml;
			margin-bottom:8px;
			background-image:url('../img/cons/bkgrnd-splitter.svg');
			background-size:8px 8px;
			background-repeat:repeat-x;
		}
		li.repo-close {display:none;}
	}
	.list-disc, .list-disc * {list-style-type:disc;}
	.list-circle, .list-circle * {list-style-type:circle;}
	.list-square, .list-square * {list-style-type:square;}
	.list-decimal, .list-decimal * {list-style-type:decimal;}
	.list-lower-roman, .list-lower-roman * {list-style-type:lower-roman;}
	.list-lower-latin, .list-lower-latin * {list-style-type:lower-latin;}
	.list-lower-alpha, .list-lower-alpha * {list-style-type:lower-alpha;}
	.list-upper-alpha, .list-upper-alpha * {list-style-type:upper-alpha;}
	.list-none, .list-none * {list-style-type:none;}
	// Tables
	table {
		width:$col-one;
		margin:0;
		padding:0;
		border-collapse:collapse;
		thead {
			tr {
				background:#ededed;
				td {
					padding:7px 5px;
					border-right:1px $col-sec-1 solid;
					border-bottom:1px $col-sec-1 solid;
					font-weight:700 !important;
				}
				td:last-child {border-right:0;}
			}
		}
		tbody {
			margin:0;
			padding:0;
			tr {
				margin:0;
				padding:0;
				td {
					margin:0;
					padding:7px 5px;
					border-right:1px $col-sec-1 solid;
				}
				td:last-child {border:0;}
			}
			tr:nth-child(even) {background:#f2f2f2;}
		}
		tfoot {
			tr {
				background:#f7f7f7;
				td {
					padding:7px 5px;
					border-top:1px $col-sec-1 solid;
					border-right:1px $col-sec-1 solid;
					font-style:italic !important;
				}
				td:last-child {border-right:0;}
			}
		}
	}
	// Alerts
	.alert-info {
		display:block;
		margin:10px 0;
		padding:30px 100px 30px 30px !important;
		background:$col-pri-3 !important;
		border:none !important;
		color:$col-whi;
		text-align:left;
		h3 {margin-bottom:0;}
		a {
			color:$col-whi;
			text-decoration:underline;
		}
	}
	.alert-info:after {
		float:right;
		content:"hey";
		font-size:2em;
		text-transform:uppercase;
		margin-top:0;
		margin-right:-75px;
		opacity:0.3;
		color:$col-whi;
		font-weight:bold;
	}
	.alert-error, .alert-danger {
		@extend .alert-info;
		color:$col-whi;
		background:#cd4642 !important;
	}
	.alert-error:after, .alert-danger:after {content:"oops";}
	.alert-success, #msg {
		@extend .alert-info;
		color:$col-whi;
		background:$col-sec-2 !important;
	}
	.alert-success:after {content:"yes";}
	.alert-warning {
		@extend .alert-info;
		color:$col-whi;
		background:#e88e1f !important;
	}
	.alert-warning:after {content:"ohh";}

	// Areas
	.align-left {text-align:left;}
	.align-right {text-align:right;}
	header.main {
		.logo {
			.brnd {margin-right:15px;}
			h1 {
				margin:0;
				padding:10px 0 0 0;
			}
			p.desc {
				margin:0;
				padding:0;
				text-transform:uppercase;
				color:$col-pri-3;
			}
		}
		nav.main {
			ul.nav {
				list-style:none;
				margin-top:20px;
				li {
					display:inline;
					a {
						font-family:$type-pri;
						margin:0 0 0 45px;
						padding-top:3px;
						color:$col-sec-1;
						letter-spacing:0.05em;
						font-size:1.1em;
					}
					a.nav-selected {
						background-image:url('../img/cons/bkgrnd-nav.svg');
						background-repeat:no-repeat;
						background-size:42px 2px;
						color:$col-pri-1;
					}
				}
				li.repo-close {display:none;}
			}
		}
	}
	section.intro {
		.content {
			p.hd-tp {
				font-size:$type-med;
				margin:3px 0 0 0;
				padding:0;
			}
			p.hd-bt {
				font-size:$type-lrg;
				margin:0;
				padding:0;
			}
		}
	}
	section.body,
	section.recent-design {
		figure.effect-bubba {
			text-align:center;
			h2 {
				color:$col-whi;
				margin:0;
				padding-top:120px;
				opacity:0;
				-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
				transition:opacity 0.35s, transform 0.35s;
				-webkit-transform:translate3d(0,20px,0);
				transform:translate3d(0,20px,0);
			}
			p {
				color:$col-whi;
				margin:0;
				padding:20px 2.5em;
				opacity:0;
				-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;
				transition:opacity 0.35s, transform 0.35s;
				-webkit-transform:translate3d(0,-20px,0);
				transform:translate3d(0,-20px,0);
			}
		}
		figure.effect-bubba:hover h2 {
			opacity:1;
			-webkit-transform:translate3d(0,40px,0);
			transform:translate3d(0,40px,0);
		}
		figure.effect-bubba:hover p {
			opacity:1;
			-webkit-transform:translate3d(0,-40px,0);
			transform:translate3d(0,-40px,0);
		}
	}
	section.body {
		.content {
			p {padding:4px 0 20px 0;}
		}
	}
	section.latest-news,
	section.body {
		.content .date-tags {
			.date {
				.day {
					display:block;
					font-size:$type-xlrg;
					font-family:$type-pri;
					text-align:center;
					sup {
						font-family:$type-pri;
						font-size:$type-xsml !important;
					}
				}
				.month {
					display:block;
					font-size:$type-sml;
					font-family:$type-pri;
					text-align:center;
				}
			}
			.tags {
				ul, li {
					margin:0;
					padding:0;
				}
				li {
					display:inline-block;
					background:$col-pri-2;
					margin:0 6px 9px 0;
					padding:6px 20px;
					font-family:$type-pri;
					font-size:$type-sml;
				}
			}
		}	
	}
	section.copyright {
		.content * {
			color:#D9DBDD;
			font-size:$type-sml;
		}
	}
	footer.main {
		h2 {color:$col-gry;}
	}
}
/* Store */
.product-detail-block {
	display:inline-block;
	margin-top:30px;
}
.checkout-form-shell {
	#checkout-form-group-billing,
	#checkout-form-group-shipping,
	#checkout-form-group-shipping-method,
	#checkout-form-group-payment {
		background:rgba(186,190,193,0.1);
		h3 {
			background:$col-gry;
			padding:10px;
			color:$col-whi;
		}
		.checkout-form-group-body {
			width:$col-one;
			margin:0;
			padding:0 40px;
			.vivid-store-col-2 {
				padding:10px 10px 0 0;
				.form-group {
					label {display:block;}
					.ccm-input-text, select {
						margin-bottom:0;
					}
				}
			}
			.vivid-store-col-1 {
				padding:10px 10px 0 0;
				.checkbox {
					label {display:inline-block;}
					input {
						display:inline-block;
						width:auto !important;
						margin-top:30px;
						margin-right:20px;
					}
				}
			}
			#checkout-shipping-method-options {
				.radio {
					label {display:inline-block;}
					input {
						display:inline-block;
						width:auto !important;
						margin-top:30px;
						margin-right:20px;
					}
				}
			}
			.checkout-form-group-buttons {
				float:none;
				display:inline-block;
				margin-bottom:30px;
				padding:0;
				width:$col-one;
				text-align:left;
				a.abtn, input[type="submit"] {
					position:relative;
					display:inline-block;
					margin:20px 0;
				}
				input[type="submit"] {vertical-align:top;}
				.btn-previous-pane {background:$col-pri-2;}
			}
		}
	}
}
.checkout-cart-view {
	.checkout-totals-line-items {
		margin:0;
		.disc-code {display:none !important;}
		.line-item {border:0;}
	}
	.checkout-cart-list {
		.checkout-cart-item {
			background:none !important;
			.checkout-cart-item-price,
			.checkout-cart-product-qty {
				font-size:$type-sml;
			}
		}
	}
}
.vivid-store-utility-links {
	.total-cart-amount {
		font-weight:600;
		margin-right:20px;
	}
}
.vivid-store-col-2 {
	width:$col-one / 2;
	.product-primary-image {
		width:$col-one;
		height:auto;
		overflow:hidden;
		a.product-thumb {
			display:block;
			float:none;
			text-align:left;
			img {
				width:$col-one;
				height:$col-one;
			}
		}
	}
	.product-additional-images {
		display:inline-block;
		margin-top:5px;
		a.product-thumb {
			display:block;
			height:100px;
			margin:0;
			padding:0;
			overflow:hidden;
			border-right:5px $col-whi solid;
		}
		a.product-thumb:last-child {border-right:none;}
	}
	.product-price {
		color:$col-pri-1;
		font-size:$type-med;
		font-weight:600;
	}
	.product-dimensions {
		display:inline-block;
		background:none;
		margin:20px 0 0 0;
		padding:0;
		border:none;
	}
}
.cart-page-cart-list {
	.cart-page-cart-list-item {
		.cart-list-thumb {width:$col-one / 5 !important;}
		.cart-list-product-name, .cart-list-item-price, .cart-list-product-qty, .cart-list-item-links {width:$col-one / 5 * 2 !important;}
	}
}
.cart-list-product-name {font-weight:400 !important;}
.hidden {display:none !important;}

// IE Notice
p.ie-upgrade {
	position:fixed;
	background:$col-pri-1;
	width:$col-one;
	top:0;
	right:0;
	left:0;
	text-align:center;
	color:$col-whi;
	font-size:$type-sml;
	padding-top:30px;
	padding-bottom:30px;
	z-index:+9999999999;
	a {
		color:$col-whi;
		font-weight:700 !important;
		font-weight:bold !important;
		text-decoration:underline !important;
	}
}