// _responsive.scss

@media screen and (max-height:736px) {
	#cw-wrap {
		header.main {
			height:auto !important;
			section.latestupdates-wrap {
				position:relative;
				padding-top:60px;
				padding-bottom:20px;
				padding-right:60px;
				padding-left:60px;
				.cols.newsfeed-entrys {padding:0;}
				.contain {
					.sidebar-link-wrap {display:none;}
				}
			}
		}
	}
}
@media screen and (max-width:1200px){
	#cw-wrap {
		footer.main {
			section.contact-wrap .contain,
			section.social-wrap .contain {width:$col-one;}
			section.copyright-wrap .contain {width:$col-one;}
		}
		&.page-type-home {
			header.main {
				section.introduction-wrap .intro {padding:0 100px;}
				section.latestupdates-wrap {
					overflow-x:visible;
					padding-right:60px;
					padding-left:60px;
					.cols.newsfeed-entrys {padding:0;}
					.contain {
						width:$col-one;
						.sidebar-link-wrap {display:none;}
					}
				}
			}
			section.services-wrap {
				background-position:145% bottom !important;
				background-size:auto 94%;
				.services-header {
					width:$col-one !important;
					padding-right:60px !important;
				}
				.services-body {
					padding-right:60px;
					padding-left:60px;
					.contain {
						width:$col-one !important;
						padding-right:20px;
					}
				}
			}
			section.feed-wrap {
				&.negg,
			 	&.blue {
					.feed-header {
						width:$col-one !important;
						padding-right:60px !important;
					}
					.feed-body .contain {
						width:$col-one;
						padding-right:30px;
						padding-left:30px;
					}
					.feed-footer .feed-stroke .contain {width:$col-one;}
				}
			}
		}
		&.page-template-oversize {
			section.body.page-oversize {
				section.services-wrap {
					.service-section {
						.service-desc {
							.content {
								width:$col-one;
								.copy-intro {width:$col-one - 30;}
							}
						}
					}
				}
			}
		}
		&.page-template-landing {
			section.body.page-default {
				.services-header {width:$col-one !important;}
				.services-desc {
					.cols {
						padding:0 0 0 120px;
						.bkgrnd-icon {
							&.large {
								margin:0 !important;
								padding:10px 0 10px 160px !important;
								background-size:130px auto !important;
							}
						}
					}
					.pcontent {
						margin:0 !important;
						padding-left:160px;
						width:$col-one !important;
					}
				}
			}
		}
		&.page-template-default {
			section.body.page-default {
				section.services-wrap {
					.services-header {width:$col-one !important;}
					.services-desc {
						.pcontent {
							margin:0 !important;
							padding-left:160px;
							width:$col-one !important;
						}
						.cols {padding-right:0;}
					}
				}
			}
		}
		&.page-template-bloglist {
			section.body.page-default {
				section.services-wrap {
					.services-header {width:$col-one !important;}
					.services-desc {
						.cols.flex-row {
							padding-right:0;
							.col.newsfeed-entry {
								width:$col-one;
								margin-right:0;
								margin-left:0;
							}
						}
					}
				}
			}
		}
		&.page-template-blog {
			section.body.page-blog {
				section.services-wrap {
					.services-header {width:$col-one !important;}
					.services-desc {
						.pcontent {
							margin:0 !important;
							padding-left:160px;
							width:$col-one !important;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-height:736px) and (max-width:1200px){
	#cw-wrap {
		&.page-type-home {
			header.main {
				section.latestupdates-wrap {
					padding-right:0;
					padding-left:0;
				}
			}
		}
	}
}
@media screen and (max-width:1024px){
	#cw-wrap {
		// h1 {font-size:2.4em;}
		// h2 {font-size:1.4em;}
		// h3 {font-size:1.1em;}
		footer.main {
			section.contact-wrap .contain .cols {
				.col.navigation {width:$col-one / 5 * 2 - 10;}
				.col.subscribe {
					width:$col-one / 5 * 3 + 10;
					#mc_embed_signup {
						form#mc-embedded-subscribe-form {
							#mc_embed_signup_scroll {
								.mc-field-group {width:$col-one !important;}
								.clear.submit-button {
									width:$col-one !important;
									padding:5px 0 0 0 !important;
									input#mc-embedded-subscribe {width:auto !important;}
								}
							}
						}
					}
				}
			}
			section.social-wrap .contain .cols {
				.col.social {width:$col-one / 5 * 2 - 10;}
				.col.instagram {
					width:$col-one / 5 * 3 + 10;
					#instafeed {
						a:nth-child(3), a:nth-child(4) {display:none;}
					}
				}
			}
			section.copyright-wrap .contain .cols {
				.col.copyright {padding-left:10px;}
				.col.navigation {
					width:$col-one;
					padding-top:10px;
					nav.footer li {float:left;}
				}
			}
		}
		&.page-template-home {
			header.main {
				section.introduction-wrap .intro {padding:0;}
				section.latestupdates-wrap {
					padding-bottom:0;
					.contain .cols.newsfeed-entrys .col.newsfeed-entry {
						width:$col-one;
					}
				}
			}
			section.body {
				section.services-wrap {
					background-position:280% bottom !important;
					background-size:auto 84%;
					.services-desc {
						background-size:120px auto;
						padding-bottom:130px;
						p.sub-heading {
							margin-left:90px;
							width:$col-one - 40;
						}
					}
					.services-body .contain .cols .col .bkgrnd-icon {
						background-size:80px auto;
						padding:10px 10px 10px 90px;
					}
				}
				section.feed-wrap {
					&.negg,
					&.blue {
						margin-top:-60px !important;
						.feed-desc {
							background-size:200px auto;
							p.sub-heading {
								width:$col-one;
								padding-right:50px;
							}
						}
						.feed-body .contain	.cols.newsfeed-entrys .col.newsfeed-entry {
							width:$col-one;
							margin-right:0;
							margin-left:0;
						}
						.feed-footer {
							padding-top:0;
							.feed-stroke {
								padding-bottom:0;
								.contain {display:none;}
							}
						}
					}
				}
			}
		}
		&.page-template-oversize {
			section.body.page-oversize {
				section.services-wrap {
					.service-section {
						&.ecommerce,
						&.mobileapp,
						&.websitedesign {
							.service-desc {
								.bkgrnd-pixel-white {background-size:200px auto;}
								.content .copy-intro {width:$col-one - 10;}
							}
						}
					}
				}
			}
		}
		&.page-template-landing {
			section.body.page-default {
				section.services-wrap {
					.services-desc {
						background-size:100px auto;
						.cols {
							padding-left:65px !important;
							.bkgrnd-icon {
								background-size:70px auto;
								padding:10px 0 10px 90px;
							}
						}
						.pcontent {
							padding-left:65px !important;
							.landing-form form .cols {padding-left:0 !important;}
						}
					}
				}
			}
		}
		&.page-template-default {
			.body.page-default {
				section.services-wrap {
					.services-desc {
						background-size:100px auto;
						.cols, .pcontent {
							padding-left:65px !important;
							#respo-full {
								.ccm-layout-column-wrapper {
									.ccm-layout-column {width:$col-one / 2;}
									.ccm-layout-column:last-child {
										width:$col-one;
										.ccm-layout-column-inner {margin-left:0;}
									}
								}
							}
						}
					}
				}
			}
		}
		&.page-template-bloglist {
			section.body.page-default {
				section.services-wrap {
					.services-desc {
						background-size:100px auto;
						.cols, .pcontent {
							padding-left:65px !important;
							margin:0;
							width:$col-one;
						}
					}
				}
			}
		}
		&.page-template-blog {
			section.body.page-blog {
				section.services-wrap {
					.services-desc {
						background-size:100px auto;
						.pcontent {
							padding-left:65px !important;
							margin:0;
							width:$col-one;
							.cols .col {
								margin-right:0;
								margin-left:0;
								width:$col-one;
							}
						}
					}
				}
			}
		}
		&.page-template-casestudy {
			section.body.page-blog {
				section.services-wrap {
					.services-header {width:$col-one !important;}
					.services-desc {
						background-size:100px auto;
						.cols, .pcontent {
							padding-left:65px !important;
							margin:0;
							width:$col-one;
							> .cols {
								padding-left:0 !important;
								.col {
									margin-right:0;
									margin-left:0;
									width:$col-one;
								}
							}
						}
					}
				}
			}
		}
		&.page-template-store {
			section.body.page-oversize {
				section.services-wrap {
					.service-section {
						&.featured {
							.service-desc {
								.bkgrnd-pixel-white {background-size:200px auto;}
								.content {width:$col-one - 10;}
							}
						}
						&.full {
							.service-desc {
								.content.store-list {
									#respo-full {
										.ccm-layout-column-wrapper {
											.ccm-layout-column {width:$col-one / 2;}
											.ccm-layout-column:last-child {
												width:$col-one;
												.ccm-layout-column-inner {margin-left:0;}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.page-template-default {
			section.body.page-default section.services-wrap .services-desc .cols .general-form form .cols {padding-left:0 !important;}
		}
	}
}

@media screen and (max-width:768px){
	#cw-wrap {
		header.main {
			padding:30px;
			.bkgrnd-img {margin:-30px 0 0 -30px !important;}
			section.navigation-wrap {
				.cols {
					.col {
						&.branding {
							width:auto !important;
							a {
								display:block;
								width:45px;
								overflow-x:hidden !important;
							}
						}
						&.navigation {
							width:$col-one - 20;
							float:right;
							padding-top:2px;
							nav.main .nav-triggers-wrap .contact {padding:10px 5px;}
						}
					}
				}
			}
			section.introduction-wrap {
				.intro {
					h1 {font-size:1.9em;}
					h2 {font-size:1.2em;}
				}
			}
		}
		hr {margin:30px 0 30px 0;}
		footer.main {
			section.contact-wrap,
			section.social-wrap {
				padding:0 30px;
				.contain {
					.cols {
						.col.navigation, .col.subscribe, .col.social {width:$col-one !important;}
						.col.navigation {margin-bottom:20px;}
						.col.instagram {display:none;}
					}
				}
			}
			section.copyright-wrap {
				background-size:50% auto;
				padding:60px 30px;
				.contain {
					.cols {
						.col.copyright {
							padding-left:0;
							width:$col-one !important;
						}
						.col.navigation {display:none;}
					}
				}
			}
		}
		&.page-template-home {
			header.main {
				section.introduction-wrap {padding-top:20px;}
				section.latestupdates-wrap {
					.contain {
						.cols.newsfeed-entrys {
							.col.newsfeed-entry {
								.news-img {display:none;}
								.news-content-wrap {
									background-image:none !important;
									p.description {
										width:$col-one;
										padding-bottom:0;
									}
								}
							}
						}
					}
				}
			}
			section.body {
				section.services-wrap {
					padding-top:30px;
					.services-header {
						padding:0 30px;
					}
					.services-desc {
						background-size:45px auto;
						padding:0 30px 100px;
						.sub-heading {
							width:$col-one !important;
							margin:0 !important;
							padding-left:30px;
						}
					}
					.services-body {
						padding:0 30px 160px;
						.contain {
							padding-right:0;
							.cols {
								.col {
									width:$col-one;
								}
							}
						}
					}
				}
				section.feed-wrap {
					&.negg,
					&.blue {
						.feed-header {padding:0 30px !important;}
						.feed-desc {
							background-size:100px auto;
							padding-left:30px !important;
							padding-right:30px !important;
							padding-bottom:120px !important;
							p.sub-heading {padding-right:0;}
						}
						.feed-body {
							.contain {
								padding:0 !important;
								.cols.newsfeed-entrys {
									.col.newsfeed-entry {
										.news-img {display:none !important;}
										.news-content-wrap {
											background-image:none !important;
											p.description {
												width:$col-one;
												padding-bottom:0;
											}
										}
									}
									.bkgrnd-personalprojects {
										background-image:none;
										padding:20px 30px 20px 30px;
										p {width:$col-one;}
										&.thereisnocloud:before {background:rgb(118,203,202) !important;}
										&.skoolping:before {background:rgb(31,197,183) !important;}
										&:after {display:none;}
									}
								}
							}
						}
					}
				}
			}
		}
		&.page-template-oversize {
			section.body.page-oversize {
				section.services-wrap {
					.service-section {
						&.ecommerce,
						&.mobileapp,
						&.websitedesign {
							.service-header {padding:0 30px;}
							.service-desc {
								background-image:none !important;
								.bkgrnd-pixel-white {background-size:100px auto;}
								.content {
									padding:40px 30px;
									.copy-intro {width:$col-one !important;}
									.ccm-layout-column-wrapper {
										.ccm-layout-column {
											width:$col-one !important;
											.ccm-layout-column-inner {
												margin-right:0;
												margin-left:0;
												.bkgrnd-icon {
													padding:0 0 0 100px !important;
													margin-bottom:5px !important;
												}
											}
										}
									}
								}
							}
						}
						&.full,
						&.general {
							.service-desc {
								.content {
									padding:0 30px;
									form {
										.cols {
											.col {
												width:$col-one;
												padding-top:20px;
												padding-right:0;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&.page-template-landing {
			header.main.page-landing {
				section.introduction-wrap {
					.intro {
						img {
							display:inline-block;
							width:$col-one / 3 * 2;
							height:auto !important;
							margin-bottom:-15px !important;
						}
					}
				}
			}
			section.body.page-default {
				section.services-wrap {
					padding-top:30px;
					.services-header {padding:0 30px;}
					.services-desc {
						background-size:50px auto;
						padding:0 30px 30px;
						.cols {
							padding-left:0 !important;
							.bkgrnd-icon {
								margin-bottom:0;
								padding:10px 0 10px 80px;
								&.large {
									background-size:90px auto !important;
									padding:10px 0 10px 0 !important;
									h2 {padding-left:110px;}
								}
								&.strech {padding:10px 0 10px 80px !important;}
							}
							.ccm-layout-column-wrapper {
								.ccm-layout-column {
									width:$col-one;
									margin-right:0 !important;
									margin-left:0 !important;
									.ccm-layout-column-inner {
										width:$col-one;
										margin-right:0 !important;
										margin-left:0 !important;
									}
								}
							}
						}
						.pcontent {
							padding-left:0 !important;
							.landing-form form .cols .col {
								width:$col-one;
								padding-right:0;
								padding-left:0;
							}
						}
					}
				}
			}
		}
		&.page-template-default {
			section.body.page-default {
				section.services-wrap {
					padding-top:30px;
					.services-header {padding:0 30px !important;}
					.services-desc {
						background-size:50px auto;
						padding:0 30px 30px;
						.pcontent {
							padding-left:0 !important;
							.bkgrnd-icon {
								margin-bottom:0;
								background-size:60px auto;
								padding:10px 0 10px 80px;
								&.map {
									background-image:none;
									padding-left:0 !important;
								}
							}
						}
						.cols {
							padding-left:0 !important;
							#respo-full {
								.ccm-layout-column-wrapper {
									.ccm-layout-column {
										width:$col-one;
										.ccm-layout-column-inner {
											margin-right:0;
											margin-left:0;
										}
									}
								}
							}
							form {
								.cols {
									.col {
										width:$col-one;
										padding-right:0 !important;
										padding-left:0 !important;
									}
								}
							}
						}
					}
				}
			}
		}
		&.page-template-bloglist {
			section.body.page-default {
				section.services-wrap {
					padding-top:30px;
					.services-header {padding:0 30px;}
					.services-desc {
						background-size:50px auto;
						padding:0 30px 30px;
						.cols.flex-row {
							padding-left:0 !important;
							.col.newsfeed-entry {
								.news-img {display:none !important;}
								.news-content-wrap {
									background-image:none !important;
									p.description {
										width:$col-one;
										padding-bottom:0;
									}
								}
							}
						}
						.pcontent {padding-left:0 !important;}
					}
				}
			}
		}
		&.page-template-blog {
			section.body.page-blog {
				section.services-wrap {
					padding-top:30px !important;
					.services-header {padding:0 30px !important;}
					.services-desc {
						background-size:50px auto;
						padding:0 30px 30px;
						.pcontent {padding-left:0 !important;}
					}
				}
			}
		}
		&.page-template-casestudy {
			section.body.page-blog {
				section.services-wrap {
					padding-top:30px !important;
					.services-header {padding:0 30px !important;}
					.services-desc {
						background-size:50px auto;
						padding:0 30px 30px;
						.pcontent {padding-left:0 !important;}
						.cols {
							padding-right:20px !important;
							padding-left:20px !important;
							.casestudy-slider .ccm-image-slider .ccm-image-slider-inner {
								.rslides_nav {
									width:20px;
									&.prev {margin-left:-20px}
									&.next {margin-right:-20px}
								}
							}
						}
					}
				}
			}
		}
		&.page-template-store {
			section.body.page-oversize {
				section.services-wrap {
					padding-top:30px !important;
					.service-section {
						&.featured {
							.service-header {padding:0 30px !important;}
							.service-desc {
								.bkgrnd-pixel-white {background-size:100px auto;}
								.content {
									width:$col-one !important;
									padding-right:30px !important;
									padding-left:30px !important;
								}
							}
						}
						&.full {
							.service-desc {
								.content {
									padding-right:30px !important;
									padding-left:30px !important;
									.ccm-custom-style-container {
										.ccm-layout-column-wrapper {
											.ccm-layout-column {
												width:$col-one !important;
												margin-bottom:30px;
												.ccm-layout-column-inner {margin-right:0 !important;}
											}
										}
									}
									.store-full {
										padding-top:100px !important;
										padding-right:20px !important;
										padding-left:20px !important;
										padding-bottom:60px !important;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width:375px) {
	#cw-wrap {

	}
}
