// _reset.scss

/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	background:transparent;
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	vertical-align:baseline;
	font-weight:300;
	font-family:$type-sec;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-size:99%;
	line-height:120%;
	list-style:none;
	outline:none;
	border:0;
	cursor:default;
	-webkit-font-smoothing:antialiased;
}

body {line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
nav ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
	cursor:pointer;
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
    color:$col-green;
    font-weight:600;
}
a * {cursor:pointer;}
a:hover {color:$col-green;}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {vertical-align:middle;}

h1, h1 *,
h2, h2 *,
h3, h3 *,
h4, h4 * {
	font-family:$type-pri;
	color:$col-grey;
	font-style:normal;
}

::-moz-selection {
	color:$col-white;
	background:$col-green;
}

::selection {
	color:$col-white;
	background:$col-green;
}