// _typography.scss
/* Typography */

#cw-wrap {
	/* Headings */
	h1, h1 *, * h1 {
		font-size:$type-xlrg;
	}

	h2, h2 *, * h2 {
		font-size:$type-lrg;
	}

	h3, h3 *, * h3 {
		@extend h1;
		font-size:$type-med;
	}
	h4, h4 *, * h4 {
		@extend h1;
		font-size:$type-def;
	}

	.pcontent {
		h3 {
			font-weight:600;
		}
	}

	/* Paragraph */
	p {
		padding:8px 0 15px 0;
		color:$col-grey;
	}
	strong, strong *, * strong,
	b, b *, * b {
		font-weight:600;
		font-size:inherit;
	}
	em, em *, * em,
	i, i *, * i {
		font-style:italic;
		font-size:inherit;
	}
	u, u *, * u {
		text-decoration:underline;
		font-size:inherit;
	}
	sub, sup {font-size:$type-sml;}
	* .text-lower, .text-lower * {text-transform:none;}
	hr {
		border:none;
		border-top:3px solid #E7E9EE;
		margin:60px 0 60px 0;
	}

	p a {background:url("../img/cons/bkgrnd-link-white.png") bottom left repeat-x transparent;}
	.colour-grey p a,
	.colour-black p a {
		background-image:url("../img/cons/bkgrnd-link-grey.png");
	}

	/* Images */
	img.ccm-image-block {
		width:$col-one;
		height:auto;
		border:5px solid #F2F2F2;
		margin:20px 0;
	}
	.img-act-size img.ccm-image-block {
		width:auto !important;
		height:auto !important;
	}
	.img-comp-size {
		padding:0 30px 0 0 !important;
		img.ccm-image-block {
			margin:0 20px 0 0;
			border:0;
		}
	}
	.img-standard-size {
		padding:0 !important;
		img.ccm-image-block {
			margin:0 !important;
			border:0 !important;
			width:auto !important;
			height:auto !important;
		}
	}

	/* Icons */
	i.icon {
		display:inline-block;
		font-style:normal;
		content:'&#32;';
		width:18px;
		height:18px;
		margin:0 2px -3px 5px;
		background-repeat:no-repeat;
		background-position:center center;
		background-size:contain;
	}
	i.icon.arrow-right-white {
		background-image:url('../img/icns/icon-arrow-right-white.svg');
	}
	i.icon.arrow-right-grey {
		background-image:url('../img/icns/icon-arrow-right-grey.svg');
	}
	i.icon.arrow-top-white {
		background-image:url('../img/icns/icon-arrow-top-white.svg');
	}
	i.icon.arrow-top-grey {
		background-image:url('../img/icns/icon-arrow-top-grey.svg');
	}
	i.icon.ampersand {
		background-image:url('../img/icns/icon-ampersand.svg');
		display:inline;
		margin:0 8px;
		font-size:0.7em;
		color:$col-lime !important;
	}

	/* Text Colours and Styles */
	*.colour-green, .colour-green * {color:$col-green;}
	*.colour-lime, .colour-lime * {color:$col-lime;}
	*.colour-lime-dark, .colour-lime-dark * {color:$col-lime-dark;}
	*.colour-blue, .colour-blue * {color:$col-blue;}
	*.colour-blue-dark, .colour-blue-dark * {color:$col-blue-dark;}
	*.colour-yellow, .colour-yellow * {color:$col-yellow;}
	*.colour-yellow-dark, .colour-yellow-dark * {color:$col-yellow-dark;}
	*.colour-grey, .colour-grey * {color:$col-grey;}
	*.colour-white, .colour-white * {color:$col-white;}
	*.colour-black, .colour-black * {color:$col-black;}
	*.colour-orange, .colour-orange * {color:$col-orange;}
	*.colour-orange-dark, .colour-orange-dark * {color:$col-orange-dark;}


	*.colour-facebook, .colour-facebook * {color:$col-facebook;}
	*.colour-skoolping, .colour-skoolping * {color:$col-skoolping;}
	*.colour-shopify, .colour-shopify * {color:$col-shopify;}
	*.colour-shopify-dark, .colour-shopify-dark * {color:$col-shopify-dark;}

	*.type-xsml, .type-xsml {font-size:$type-xsml;}


	*.type-light .type-light * {font-weight:300;}
	*.type-regular, .type-regular {font-weight:400;}
	*.type-semibold, .type-semibold * {font-weight:600;}
	*.type-bold .type-bold * {font-weight:700;}

	*.type-center, .type-center * {text-align:center;}
	*.type-left, .type-left * {text-align:left;}
	*.type-right, .type-right * {text-align:right;}

	*.type-lowercase, .type-lowercase * {text-transform:lowercase;}
	*.type-uppercase, .type-uppercase * {text-transform:uppercase;}

	*.family-table, .family-table * {font-family:$type-pri;}

	*.type-closetag:before {
		content: "</>";
	}

	// Forms
	.input {
		margin-bottom:10px;
		padding:10px 0 0 30px;
		width:$col-one;
	}
	input, textarea {
		position:relative;
		box-sizing:border-box;
		padding:15px;
		width:$col-one !important;
		background:$col-lime;
		resize:none;
		border:none;
		border-radius:0 !important;
		-webkit-border-radius:0 !important;
		-moz-border-radius:0 !important;
		font-size:$type-def;
		color:$col-white;
		outline:none !important;
	}
	select {
		position:relative;
		padding:15px;
		width:$col-one !important;
		background:$col-lime;
		font-size:$type-def;
		color:$col-white;
		border:none;
		outline:none !important;
		-webkit-appearance:none;
		border-radius:0 !important;
		-webkit-border-radius:0 !important;
		-moz-border-radius:0 !important;
	}
	label {
		display:block;
		width:$col-one;
		padding-bottom:2px;
		color:$col-grey;
		text-transform:uppercase;
		font-weight:600;
	}
	.radioList, .checkboxList {
		display:inline-block;
		width:$col-one;
		padding:15px;
		background:$col-lime;
		.radio, .checkbox {
			float:left;
			width:$col-one / 3;
			label {
				display:inline-block;
				width:$col-one;
				input {padding:0;}
				span {
					position:absolute;
					margin-top:-20px;
					padding-left:25px;
				}
			}
		}
	}
	input:focus, textarea:focus, input:checked {
		box-shadow:$box-shadow;
	}
	.form-actions {padding:30px 0 0 30px;}
	::-webkit-input-placeholder {
		font-family:$type-pri;
		color:$col-black;
		font-weight:400;
		opacity:0.5;
	}
	:-moz-placeholder {
		font-family:$type-pri;
		color:$col-black;
		font-weight:400;
	}
	::-moz-placeholder {
		font-family:$type-pri;
		color:$col-black;
		font-weight:400;
	}
	:-ms-input-placeholder {
		font-family:$type-pri;
		color:$col-black;
		font-weight:400;
	}
	.form-grey {
		input, select, textarea {background:rgba(69,72,81,0.1);}
	}
	.g-recaptcha {
		float:left;
		width:$col-one !important;
	}
	.input-required:after {
		position:absolute;
		content:"*";
		font-size:$type-xlrg;
		margin-top:0px;
		opacity:0.6;
		color:$col-yellow-dark;
	}
	.col.has-error {
		input, select, textarea {
			border:1px solid #CA0813;
			border-bottom:none;
		}
		span.help-block.form-error {
			position:relative;
			display:inline-block;
			background:#CA0813;
			margin-top:-3px;
			padding:8px 10px;
			color:$col-white;
			font-weight:600;
			width:$col-one;
		}
	}

	/* Buttons */
	.abtn, input[type='submit'] {
		font-family:inherit;
		display:inline-block !important;
		width:auto !important;
		background:$col-orange;
		color:$col-white;
		margin-bottom:5px;
		padding:14px 60px;
		font-weight:600;
		cursor:pointer !important;
		text-decoration:none;
		-webkit-transition-duration:$abtn-speed;
		-moz-transition-duration:$abtn-speed;
		-o-transition-duration:$abtn-speed;
		transition-duration:$abtn-speed;
		text-align:center;
	}
	.abtn.green {background:$col-green;}
	.abtn.lime {background:$col-lime;}
	.abtn.blue {background:$col-blue;}
	.abtn.blue-dark {background:$col-blue-dark;}
	.abtn.yellow {background:$col-yellow;}
	.abtn.grey {background:$col-grey;}
	.abtn.black {background:$col-black;}
	.abtn.orange {background:$col-orange;}
	.abtn.orange-dark {background:$col-orange-dark;}
	.abtn.facebook {background:$col-facebook;}
	.abtn.skoolping {background:$col-skoolping;}
	.abtn.shopify {background:$col-shopify;}
	.abtn.shopifydark{background:$col-shopify-dark;}


	.abtn.small {padding:11px 35px;}
	.abtn.spaced {margin:10px 0;}

	.abtn:hover, input[type="submit"]:hover {opacity:$abtn-trans;}

	// Lists
	.pcontent ul {
		margin-top:15px;
		margin-bottom:20px;
		margin-left:40px;
		li {
			list-style:disc;
			list-style-position:outside;
			margin-bottom:5px;
			padding-left:0;
		}
	}
	.pcontent ol {
		margin-top:15px;
		margin-bottom:20px;
		margin-left:40px;
		li {
			list-style:decimal;
			list-style-position:outside;
			margin-bottom:5px;
			padding-left:0;
		}
	}
	.list-disc, .list-disc * {list-style-type:disc;}
	.list-circle, .list-circle * {list-style-type:circle;}
	.list-square, .list-square * {list-style-type:square;}
	.list-decimal, .list-decimal * {list-style-type:decimal;}
	.list-lower-roman, .list-lower-roman * {list-style-type:lower-roman;}
	.list-lower-latin, .list-lower-latin * {list-style-type:lower-latin;}
	.list-lower-alpha, .list-lower-alpha * {list-style-type:lower-alpha;}
	.list-upper-alpha, .list-upper-alpha * {list-style-type:upper-alpha;}
	.list-none, .list-none * {list-style-type:none;}
	.pcontent .list-compressed {
		margin-top:0;
		margin-bottom:0;
		margin-left:0;
		li {
			list-style:none;
			display:inline-block;
			padding:0 2px;
			&:before {
				content:"\005C \00a0";
				margin-right:2px;
			}
		}
	}

	// Tables
	.table-default {
		width:$col-one - 10;
		margin:0 0 30px 30px;
		padding:0;
		border-collapse:collapse;
		thead {
			tr {
				background:#ededed;
				td {
					padding:7px 5px;
					border-right:1px $col-green solid;
					border-bottom:1px $col-green solid;
					font-weight:700 !important;
				}
				td:last-child {border-right:0;}
			}
		}
		tbody {
			margin:0;
			padding:0;
			tr {
				margin:0;
				padding:0;
				td {
					margin:0;
					padding:7px 5px;
					border-right:1px $col-green solid;
				}
				td:last-child {border:0;}
			}
			tr:nth-child(even) {background:$col-green;}
		}
		tfoot {
			tr {
				background:#f7f7f7;
				td {
					padding:7px 5px;
					border-top:1px $col-green solid;
					border-right:1px $col-green solid;
					font-style:italic !important;
				}
				td:last-child {border-right:0;}
			}
		}
	}
	.table-plain {
		width:$col-one - 10;
		margin:0 0 30px 30px;
		padding:0;
		border-collapse:collapse;
		thead {
			tr {
				background:none;
				td {
					padding:7px 5px;
					border-right:1px $col-green solid;
					border-bottom:1px $col-green solid;
					font-weight:700 !important;
				}
				td:last-child {border-right:0;}
			}
		}
		tbody {
			margin:0;
			padding:0;
			tr {
				margin:0;
				padding:0;
				td {
					margin:0;
					padding:7px 5px;
					border-right:1px $col-green solid;
					border-bottom:1px $col-green solid;
				}
				td:last-child {border-right:0;}
			}
			tr:nth-child(even) {background:none;}
		}
		tfoot {
			tr {
				background:none;
				td {
					padding:7px 5px;
					border-top:1px $col-green solid;
					border-right:1px $col-green solid;
					font-style:italic !important;
				}
				td:last-child {border-right:0;}
			}
		}
	}

	// Alerts
	.alert-info {
		display:block;
		margin:10px 0;
		padding:30px 80px 30px 30px;
		background:$col-green !important;
		border:none !important;
		color:$col-white;
		h3 {margin-bottom:0;}
	}
	.alert-info:after {
		float:right;
		content:"\0069";
		font-size:5em;
		margin-top:0;
		margin-right:-55px;
		opacity:0.3;
		color:$col-white;
		font-weight:bold;
	}
	.alert-error, .alert-danger {
		@extend .alert-info;
		color:$col-white;
		background:#cd4642 !important;
	}
	.alert-error:after, .alert-danger:after {content:"\00D7";}
	.alert-success, #msg {
		@extend .alert-info;
		color:$col-white;
		background:$col-green !important;
	}
	.alert-success:after {content:"\003F";}
	.alert-warning {
		@extend .alert-info;
		color:$col-white;
		background:#e88e1f !important;
	}
	.alert-warning:after {content:"\0021";}

	// Blockquote
	blockquote {
		background:rgb(242, 242, 242);
		margin:15px 20px 15px 30px;
		padding:20px 20px;
		color:$col-grey;
		p {
			display:inline;
			padding:10px 0 !important;
		}
	}
	blockquote:before {
		content:"\201C";
		font-size:3em;
		line-height:0.1em;
		margin-right:10px;
		vertical-align:-15px;
		color:$col-green;
	}
	blockquote:after {
		content:"\201E";
		font-size:2em;
		line-height:0.1em;
		padding-left:10px;
		vertical-align:-20px;
		color:$col-green;
	}

	// Highlights & Labels
	.success {
		margin:0 3px;
		padding:1px 10px;
		color:$col-white;
		background:$col-green !important;
	}
	.info {
		@extend .success;
		background:$col-green !important;
	}
	.warning {
		@extend .success;
		background:#e88e1f !important;
	}
	.danger {
		@extend .success;
		background:#cd4642 !important;
	}

	// Social
	ul.list-inline {
		li {
			margin-right:5px;
			a {
				i.fa {
					display:inline-block;
					width:30px;
					height:30px;
					padding-top:8px;
					font-style:normal;
					text-align:center;
				}
				.fa.fa-twitter {background-color:#1da1f2;}
				.fa.fa-facebook {background-color:#3b5998;}
				.fa.fa-instagram {background-color:#405de6;}
				.fa.fa-github-square {background-color:#4078c0;}
			}
		}
	}

// Pagination
ul.pagination {
	margin:20px 0 0 0 !important;
	list-style:none;
	li {
		list-style:none !important;
		background:none !important;
		display:inline !important;
		padding:0 !important;
		margin:0 !important;
		a {
			background:$col-orange !important;
			color:$col-white !important;
			border:none !important;
			padding:12px 22px !important;
		}
		span.sr-only {display:none !important;}
		&:nth-child(odd) {
			a {background:rgba(255,159,28,0.85) !important;}
		}

	}
	li.active {
		span {
			background:$col-lime !important;
			border:none !important;
			padding:12px 22px !important;
			color:$col-white !important;
			font-size:$type-med !important;
			font-weight:600 !important;
			margin-top:-3px !important;
		}
	}
	li.disabled {
		span {
			background:$col-orange !important;
			color:$col-white !important;
			border:none !important;
			opacity:0.5 !important;
			padding:12px 22px !important;
			cursor:not-allowed !important;
		}
	}
}

// Search Results
.searchResult {
	h3 a {color:$col-blue !important;}
	p {
		border-bottom:1px dashed $col-grey;
		span {
			padding:3px;
			color:$col-white !important;
			font-weight:700;
			background:$col-lime !important;
		}
		a {
			margin-top:10px;
			color:$col-lime;
			text-transform:uppercase;
		}
	}
}

	// Area Specific
	header.main {
		section.navigation-wrap {
			.cols {
				.col.navigation {
					nav.main {
						.nav-triggers-wrap {
							a {
								display:inline-block;
								padding:10px 10px;
							}
							a.nav-trigger {
								padding-right:40px;
								background:url('../img/icns/icon-navigation.svg') right center no-repeat;
							}
						}
						nav#cd-lateral-nav {
							ul.nav {
								padding:30px 0;
								li {
									a {
										display:block;
										padding:8px 20px;
										font-size:$type-med;
										&:hover {
											background:rgba(255,255,255,0.1);
										}
										&.nav-path-selected {
											background:rgba(255,255,255,0.05);
										}
									}
								}
							}
						}
					}
				}
			}
		}
		section.introduction-wrap {
			.intro {
				h1 {
					position:relative;
					padding-top:10px;
				}
			}
		}
		section.latestupdates-wrap {
			.contain {
				.cols.newsfeed-entrys {
					.col.newsfeed-entry {
						.news-content-wrap {
							p.date-tag {
								font-family:$type-pri;
								padding:4px 0 4px 0;
								span {
									font-weight:400 !important;
									font-size:$type-sml;
									margin:0 3px;
								}
							}
							p.description {
								width:$col-one - 35;
								padding:20px 0 40px 0;
							}
						}
					}
					.col.newsfeed-entry.entry-2,
					.col.newsfeed-entry.entry-3 {
						.news-content-wrap {
							.news-content {
								p.description {display:none !important;}
							}
						}
					}
				}
			}
		}
	}
	section.body {
		section.feed-wrap {
			.feed-body {
				.contain {
					.cols.newsfeed-entrys {
						z-index:+999;
						min-height:100px;
						.col.newsfeed-entry {
							.news-content-wrap {
								p.date-tag {
									font-family:$type-pri;
									padding:4px 0 4px 0;
									span {
										font-weight:400 !important;
										font-size:$type-sml;
										margin:0 3px;
									}
								}
								p.description {
									width:$col-one - 40;
									padding:20px 0 40px 0;
								}
								.news-content.desc-rich {
									p {width:$col-one - 20;}
								}
							}
						}
					}
				}
			}
			.feed-footer {
				.feed-stroke {
					.contain {
						.cols {
							.col.topics {
								.topic-list-wrap {
									ul.topic-list {
										li {
											display:inline-block;
											margin:0 4px 8px 0;
											a.topic-list-link {
												display:block;
												background:$col-lime;
												padding:5px 20px;
											}
										}
										li:last-child {display:none;}
									}
								}
							}
							.col.facebook {
								.cols {
									.col.facebook-post-wrap {
										p.description {
											width:$col-one;
											padding:3px 0 0 0;
										}
										p.date-tag {
											font-family:$type-pri;
											padding:6px 0 10px 0;
											span {
												font-weight:400 !important;
												font-size:$type-sml;
												margin:0 3px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.services-wrap {
			.services-desc {
				.cols {
					.col.newsfeed-entry {
						.news-content-wrap {
							p.date-tag {
								font-family:$type-pri;
								padding:4px 0 4px 0;
								span {
									font-weight:400 !important;
									font-size:$type-sml;
									margin:0 3px;
								}
							}
							p.description {
								width:$col-one - 40;
								padding:20px 0 40px 0;
							}
							.news-content.desc-rich {
								p {width:$col-one - 20;}
							}
						}
					}
					.pagination-wrap {
						display:inline-block;
						width:$col-one;
					}
					.casestudy-slider {
						.ccm-image-slider {
							.ccm-image-slider-inner {
								ul.rslides_tabs {
									margin-left:20px;
									li, li.rslides_here {
										a {
											width:20px;
											height:20px;
											border-radius:0 !important;
											margin-right:5px;
											background:$col-grey;
											opacity:0.4;
										}
									}
									li.rslides_here {
										a {
											background:$col-grey;
											opacity:1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.casestudy-stats {
			p {text-transform:uppercase;}
			h1, p strong {font-weight:700;}
			h1 {font-size:3em;}
			p:last-child {margin:0 !important;padding:0 !important;}
			* {color:$col-white;}
		}
	}
	footer.main {
		section.contact-wrap {
			.contain {
				.cols {
					.col.subscribe {
						#mc_embed_signup {
							form#mc-embedded-subscribe-form {
								#mc_embed_signup_scroll {
									.submit-button {
										input[type="submit"] {
											display:block !important;
											width:$col-one !important;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		section.social-wrap {
			.contain {
				.cols {
					.col.instagram {
						#instafeed {
							a {
								span {
									font-family:$type-pri;
									font-weight:700;
									text-align:center;
									font-size:$type-sml;
								}
							}
						}
					}
				}
			}
		}
		section.copyright-wrap {
			.contain {
				.cols {
					.col.copyright {
						p {padding:0;}
					}
					.col.navigation {
						nav.footer {
							ul.nav {
								li {
									display:inline;
									a {padding:0 10px;}
								}
							}
						}
					}
				}
			}
		}
	}

}
// Designed by tag
#cwdesigned {
	position:absolute;
	display:inline-block;
	width:110px;
	right:0;
	margin:-50px 10px 0 0;
	-webkit-opacity:0.4;
	-moz-opacity:0.4;
	opacity:0.4;
	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	-ms-transition:opacity 0.4s;
	-o-transition:opacity 0.4s;
	a {
		span {
			float:left;
			margin:0;
			padding:7px 0 0 0;
			text-align:right;
			width:60px;
			margin-right:10px;
			text-transform:uppercase;
			font-size:0.7em;
			color:#ffffff;
			font-weight:500;
		}
		img {
			float:right;
			width:40px;
			height:40px;
		}
	}
}
#cwdesigned:hover {opacity:1;-webkit-opacity:1;-moz-opacity:1;}
.redactor-toolbar-tooltip-clips-button:before {content:"Elements & Clips" !important;}
// IE Notice
p.ie-upgrade {
	position:absolute;
	width:$col-one;
	top:0;
	right:0;
	left:0;
	margin:0;
	padding:30px 80px 30px 30px;
	background:#cd4642 !important;
	border:none !important;
	color:$col-white;
	text-align:center;
	z-index:+9999999999;
	a {
		color:$col-white !important;
		font-weight:700 !important;
		font-weight:bold !important;
		text-decoration:underline !important;
	}
}
p.ie-upgrade:after {
	float:right;
	content:"\0021";
	font-size:5em;
	margin-top:0;
	margin-right:-55px;
	opacity:0.3;
	color:$col-white;
	font-weight:bold;
}
