// core.scss

/* Chris Watterston - Stylesheet */

// Colours
$col-green: #009788;		// rgba(0,151,136,1)
$col-lime: #06d6a0;			// rgba(6,214,160,1)
$col-blue: #a0cfd3;			// rgba(160,2017,211,1)
$col-yellow: #f6bd60;		// rgba(246,189,96,1)
$col-grey: #454851;			// rgba(69,72,81,1)

$col-white: #FFFFFF;
$col-black: #000000;

// Columns
$col-max: 1200px;
$col-one: 100%;

// Typeface
$type-pri: "tablet-gothic-condensed-1","tablet-gothic-condensed-2",sans-serif;
$type-sec: "open-sans-1","open-sans-2",sans-serif;

// Typography
$type-xsml: 0.6em;
$type-sml: 0.95em;
$type-def: 1em;
$type-med: 1.1em;
$type-lrg: 1.6em;
$type-xlrg: 2.5em;

// Animation
$abtn-speed: 0.2s;
$abtn-trans: 0.9;

// Import
@import '_reset.scss';

/* Framework */
#cw-wrap {
	header, section, footer {
		width:$col-one;
		border:1px solid red;
	}
	.contain {
		position:relative;
		width:$col-max;
		margin:0 auto;
		border:1px solid aqua;
	}
	.cols {
		display:inline-block;
		width:$col-one;
		margin-bottom:-5px;
	}
	
	header.main {
		background-color:#9f988e;
		padding:30px 60px;
		section.navigation-wrap {
			.cols {
				.col {
					float:left;
					width:$col-one / 2;
					border:1px solid green;
				}
			}
		}
		section.introduction-wrap {
			.intro {
				width:$col-one;
				border:1px solid purple;
			}
		}
		section.latestupdates-wrap {
			.contain {
				.cols {
					.col.latest {
						border:1px solid gray;
					}
				}				
			}
		}
	}
	
	
}




// Import
@import '_typography.scss';
@import '_responsive.scss';
@import '_print.scss';