// core.scss

/* Chris Watterston - Stylesheet */

// Colours
$col-green: #009788;		// rgba(0,151,136,1)
$col-lime: #06d6a0;			// rgba(6,214,160,1)
$col-blue: #a0cfd3;			// rgba(160,2017,211,1)
$col-yellow: #f6bd60;		// rgba(246,189,96,1)
$col-grey: #454851;			// rgba(69,72,81,1)
$col-orange: #ff9f1c;		// rgba(255,159,28,1)
$col-white: #FFFFFF;
$col-black: #000000;

$col-facebook: #3b5998;
$col-skoolping: #ff9f1c;

// Columns
$col-max: 1052px;
$col-one: 100%;

// Typeface
$type-pri: "tablet-gothic-condensed-1","tablet-gothic-condensed-2",sans-serif;
$type-sec: "open-sans-1","open-sans-2",sans-serif;

// Typography
$type-xsml: 0.6em;
$type-sml: 0.8em;
$type-def: 1em;
$type-med: 1.3em;
$type-lrg: 1.7em;
$type-xlrg: 2.7em;

// Animation
$abtn-speed: 1.0s;
$abtn-trans: 0.9;

// Others
$box-shadow: rgba(0,0,0,.15) 0 10px 10px;

// Import
@import '_reset.scss';

/* Framework */
#cw-wrap {
	-webkit-transform:translateZ(0);
	-webkit-backface-visibility:hidden;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	transition-property:transform;
	-webkit-transition-duration:$abtn-speed;
	-moz-transition-duration:$abtn-speed;
	transition-duration:$abtn-speed;
	background:$col-white;
	&.lateral-menu-is-open {
	  -webkit-transform:translateX(-350px);
	  -moz-transform:translateX(-350px);
	  -ms-transform:translateX(-350px);
	  -o-transform:translateX(-350px);
	  transform:translateX(-350px);
	}
	header, section, footer {
		width:$col-one;
		// overflow-x:hidden;
	}
	.contain {
		position:relative;
		width:$col-max;
		margin:0 auto;
		.sidebar-link-wrap {
			position:absolute;
			width:$col-one;
			top:0;
			left:$col-one;
			margin-left:20px;
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(rgba(68,255,210,0.4)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -ms-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -o-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			.rotate-fix {
				position:inline-block;
				width:$col-one;
				height:$col-one;
				.sidebar-link {
					float:left;
					margin-top:-25px;
					margin-left:10px;
					-webkit-transform-origin:0 100%;
					-moz-transform-origin:0 100%;
					-ms-transform-origin:0 100%;
					-o-transform-origin:0 100%;
					transform-origin:0 100%;
					-webkit-transform:rotate(90deg);
					-moz-transform:rotate(90deg);
					-ms-transform:rotate(90deg);
					-o-transform:rotate(90deg);
					transform:rotate(90deg);
				}
				.rotate-link {
					display:block;
					width:$col-one;
					height:$col-one;
				}
			}
		}
	}
	.cols {
		display:inline-block;
		width:$col-one;
		margin-bottom:-5px;
	}
	.flex-row {
		display:flex;
		flex-flow:row wrap;
	}

	header.main {
		position:relative;
		height:100vh;
		background-image:url('../img/cons/bkgrnd-header.jpg');
		background-size:cover;
		padding:30px 60px;
		section.navigation-wrap {
			.cols {
				.col {
					float:left;
					width:$col-one / 2;
				}
				.col.navigation {
					nav.main {
						#cd-lateral-nav {
						  position:fixed;
						  height:$col-one;
						  right:-350px;
						  top:0;
						  visibility:hidden;
						  z-index:+100;
						  width:350px;
						  background-color:$col-grey;
							background-color:rgba(69,72,81,0.90);
						  overflow-y:auto;
						  -webkit-transform:translateZ(0);
						  -webkit-backface-visibility:hidden;
						  -webkit-transition:-webkit-transform .6s 0s, visibility 0s .4s;
						  -moz-transition:-moz-transform .6s 0s, visibility 0s .4s;
						  transition:transform .6s 0s, visibility 0s .4s;
						  -webkit-transform:translateX(350px);
						  -moz-transform:translateX(350px);
						  -ms-transform:translateX(350px);
						  -o-transform:translateX(350px);
						  transform:translateX(350px);
						}
						#cd-lateral-nav.lateral-menu-is-open {
						  -webkit-transform:translateX(0);
						  -moz-transform:translateX(0);
						  -ms-transform:translateX(0);
						  -o-transform:translateX(0);
						  transform:translateX(0);
						  visibility:visible;
						  -webkit-transition:-webkit-transform .6s 0s, visibility 0s 0s;
						  -moz-transition:-moz-transform .6s 0s, visibility 0s 0s;
						  transition:transform .6s 0s, visibility 0s 0s;
						  -webkit-overflow-scrolling:touch;
						}
					}
				}
			}
		}
		section.introduction-wrap {
			margin-top:6%;
			// overflow:visible;
			.intro {width:$col-one;}
		}
		section.latestupdates-wrap {
			position:absolute;
			padding-bottom:60px;
			bottom:0;
			left:0;
			background-image:url('../img/cons/bkgrnd-gradient-white.svg');
			background-position:center bottom;
			background-repeat:repeat-x;
			overflow-x:hidden;
			.contain {
				.cols.newsfeed-entrys {
					position:relative;
					.col.newsfeed-entry {
						position:relative;
						display:inline-block;
						float:left;
						width:$col-one / 2 - 1;
						margin-bottom:20px;
						background:$col-yellow;
						box-shadow:$box-shadow;
						.news-img {
							position:absolute;
							width:$col-one - 30;
							height:$col-one;
							right:0;
							bottom:0;
							z-index:+5;
							background-size:cover;
						}
						.news-content-wrap {
							position:relative;
							z-index:+10;
							padding:20px;
							background-image:url('../img/cons/bkgrnd-post-full-yellow.svg');
							background-position:right bottom;
							background-repeat:no-repeat;
						}
						a.hidden {
							position:absolute;
							width:$col-one;
							height:$col-one;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:+10;
						}
					}
					.col.newsfeed-entry.entry-2,
					.col.newsfeed-entry.entry-3 {
						float:right;
						background:$col-lime;
						.news-img {
							height:$col-one;
							width:$col-one - 57;
						}
						.news-content-wrap {background-image:url('../img/cons/bkgrnd-post-mini.svg');}
					}
				}
			}
		}
	}
	header.main {
		&.page-blog,
		&.page-bloglist,
		&.page-recognition,
		&.page-default,
		&.page-landing {
			position:relative;
			height:370px;
			background-image:none;

			background:-webkit-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(246,189,96,.4)), to(rgba(0,151,136,1)));
			background:-webkit-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-moz-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-ms-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-o-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			section.navigation-wrap,
			section.introduction-wrap {
				position:relative;
				z-index:+2;
			}
			.bkgrnd-img {
				position:absolute;
				width:$col-one;
				height:$col-one;
				margin:-30px 0 0 -60px;
				background-repeat:no-repeat;
				background-position:center center;
				background-size:cover;
				z-index:1;
				opacity:0.2;
			}
		}
		&.page-default,
		&.page-bloglist {
			height:250px;
			section.introduction-wrap {margin-top:35px;}
		}
		&.page-landing {
			height:auto;
			section.introduction-wrap {
				margin-top:35px;
				margin-bottom:35px;
			}
			&#landing-shopify {
				background:-webkit-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(92,106,196,1)), to(rgba(48,55,59,.8)));
				background:-webkit-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-moz-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-ms-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-o-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
			}
		}
	}

	section.body {
		section.services-wrap,
		section.feed-wrap {
			display:inline-block;
			padding-top:60px;
			.services-header,
			.feed-header {
				position:relative;
				width:$col-one - 25;
				padding:0 60px;
			}
			.services-header {margin-bottom:20px;}
			.feed-header:after {
				position:absolute;
				content:'';
				bottom:-15px;
				left:0;
				height:5px;
				width:60px;
				background:rgba(255,255,255,0.6);
			}
			.services-desc,
			.feed-desc {
				background-image:url('../img/cons/bkgrnd-bodyfeed-top.svg');
				background-position:right top;
				background-repeat:no-repeat;
				margin-top:-7px;
				padding:0 60px 160px;
				p.sub-heading {
					padding-top:40px;
					width:$col-one / 2 - 5;
				}
			}
			.services-desc {
				background-image:url('../img/cons/bkgrnd-bodyfeed-left-yellow.svg');
				background-position:left top;
				background-repeat:no-repeat;
				p.sub-heading {
					margin-left:160px;
					padding-top:10px;
					width:$col-one / 2 - 5;
				}
			}
			.feed-body {
				position:relative;
				margin-top:-100px;
				.contain {
					.cols.newsfeed-entrys {
						.col.newsfeed-entry {
							position:relative;
							display:inline-block;
							float:left;
							margin-bottom:20px;
							background:$col-white;
							box-shadow:$box-shadow;
							.news-img {
								position:absolute;
								width:$col-one - 30;
								height:$col-one;
								right:0;
								bottom:0;
								z-index:+5;
								background-size:cover;
							}
							.news-img.img-rich {
								width:$col-one;
								height:$col-one - 30;
							}
							.news-content-wrap {
								position:relative;
								z-index:+10;
								padding:20px;
								background-image:url('../img/cons/bkgrnd-post-full-white.svg');
								background-position:right bottom;
								background-repeat:no-repeat;
							}
							.news-content-wrap.wrap-rich {
								padding-bottom:190px;
								background-image:url('../img/cons/bkgrnd-recog-full-white.svg');
							}
							a.hidden {
								position:absolute;
								width:$col-one;
								height:$col-one;
								top:0;
								right:0;
								bottom:0;
								left:0;
								z-index:+10
							}
						}
						.col.newsfeed-entry:nth-child(even) {
							width:$col-one / 2 - 1;
							margin-left:1%;
						}
						.col.newsfeed-entry:nth-child(odd) {
							width:$col-one / 2 - 1;
							margin-right:1%;
						}
					}
				}
			}
			.services-body {
				width:$col-one;
				padding-bottom:160px;
				.contain {
					width:$col-max;
					height:300px;
					margin-top:-80px;
					.service-one,
					.service-two,
					.service-three,
					.service-four {
						position:absolute;
						background-image:url('../img/cons/bkgrnd-services-yellow.svg');
						background-repeat:no-repeat;
					}
					.service-one {
						top:0;
						left:0;
						background-position:right 5px;
						width:$col-one / 3 - 1.5;
						padding-right:20px;
					}
					.service-two {
						bottom:5%;
						left:2%;
						background-position:right 5px;
						width:$col-one / 3 + 1;
						padding-right:20px;
					}
					.service-three {
						top:10%;
						left:43%;
						background-position:left 5px;
						width:$col-one / 3;
						padding-left:20px;
					}
					.service-four {
						bottom:0;
						left:46%;
						background-position:left 5px;
						width:$col-one / 3 - 1;
						padding-left:20px;
					}
					.sidebar-link-wrap {
/*
						top:auto;
						bottom:0;
*/
						background:-webkit-linear-gradient(top, rgba(246,189,96,0.4), rgba(246,189,96,0.9));
						background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(246,189,96,0.4)), to(rgba(246,189,96,0.9)));
						background:-webkit-linear-gradient(top, rgba(246,189,96,0.4), rgba(246,189,96,0.9));
						background:-moz-linear-gradient(top, rgba(246,189,96,0.4), rgba(246,189,96,0.9));
						background:-ms-linear-gradient(top, rgba(246,189,96,0.4), rgba(246,189,96,0.9));
						background:-o-linear-gradient(top, rgba(246,189,96,0.4), rgba(246,189,96,0.9));
					}
				}
			}
			.feed-footer {
				position:relative;
				padding:20px;
				.feed-stroke {
					padding-bottom:60px;
					.contain {
						position:relative;
						height:$col-one;
						.cols {
							position:absolute;
							bottom:0;
							padding:0 60px;
							.col {
								float:left;
								width:$col-one / 8 * 6;
							}
							.col.title {
								width:$col-one / 8 * 2;
								height:90px;
								padding:5px 20px 0 0;
								background-position:right top;
								background-repeat:no-repeat;
								background-size:auto;
							}
							.col.topics {
								opacity:0.7;
								padding-top:5px;
								padding-left:20px;
							}
							.col.facebook {
								display:inline-block;
								padding-top:5px;
								.cols {
									position:relative;
									width:$col-one;
									padding:0;
									.col.facebook-post-wrap {
										float:left;
										width:$col-one / 2 - 3;
										margin:0 0 0 3%;
									}
								}
							}
						}
					}
				}
			}
		}
		section.services-wrap {
			background-image:url('../img/cons/bkgrnd-plantgrowth.jpg');
			background-position:right bottom;
			background-repeat:no-repeat;
		}
		section.negg {margin-top:-100px;}
		section.feed-wrap.green, {
			.feed-desc {
				background-color:$col-green;
				background-image:url('../img/cons/bkgrnd-bodyfeed-bottom.svg');
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-green;
					.contain .cols .col.title {
						background-image:url('../img/cons/bkgrnd-services-green.svg');
					}
				}
			}
		}
		section.feed-wrap.lime {
			.feed-desc {
				background-color:$col-lime;
				background-image:url('../img/cons/bkgrnd-bodyfeed-top.svg');
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-lime;
					.contain .cols .col.title {
						background-image:url('../img/cons/bkgrnd-services-lime.svg');
					}
				}
			}
		}
		section.feed-wrap.blue {
			.feed-desc {
				background-color:$col-blue;
				background-image:url('../img/cons/bkgrnd-bodyfeed-bottom.svg');
				background-position:right bottom;
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-blue;
					.contain .cols .col.title {
						background-image:url('../img/cons/bkgrnd-services-blue.svg');
					}
				}
			}
		}
		section.feed-wrap.yellow {
			.feed-desc {
				background-color:$col-yellow;
				background-image:url('../img/cons/bkgrnd-bodyfeed-right.svg');
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-yellow;
					.contain .cols .col.title {
						background-image:url('../img/cons/bkgrnd-services-yellow.svg');
					}
				}
			}
		}
		section.feed-wrap {
			.feed-footer {
				.feed-stroke {
					.contain .cols .col.title.facebook {
						background-image:url('../img/cons/bkgrnd-services-facebook.svg');
					}
				}
			}
		}
	}
	section.body.page-blog,
	section.body.page-recognition,
	section.body.page-default {
		.services-wrap {
			background-image:none;
			.services-body {
				padding-bottom:60px;
				.contain {
					height:auto;
				}
			}
			.services-desc {
				.pcontent {
					margin-left:160px;
					padding-top:10px;
					width:$col-one / 2 + 5;
					.sharethis-inline-share-buttons {
						margin:20px 0;
						padding:20px 0;
						border-top:3px solid #E7E9EE;
						border-bottom:3px solid #E7E9EE;
						.st-btn {
							.st-label {padding-top:8px;}
						}
					}
					.landing-form {
						form {
							width:$col-one;
							.cols {
								padding:0;
								.col {
									float:left;
									width:$col-one / 2;
									margin-bottom:10px;
									input[type="text"], textarea, select {background:rgba(69,72,81,0.1);}
									&:nth-child(odd) {
										padding-right:10px;
									}
									&:nth-child(even) {
										padding-left:10px;
									}
									&.full {
										float:none;
										width:$col-one;
										padding:0;
									}
								}
							}
						}
					}
				}
				.cols {
					padding:0 40px 0 160px;
					.col.newsfeed-entry {
						position:relative;
						display:inline-block;
						float:left;
						margin-bottom:20px;
						background:$col-white;
						box-shadow:$box-shadow;
						.news-img {
							position:absolute;
							width:$col-one - 30;
							height:$col-one;
							right:0;
							bottom:0;
							z-index:+5;
							background-size:cover;
						}
						.news-img.img-rich {
							width:$col-one;
							height:$col-one - 30;
						}
						.news-content-wrap {
							position:relative;
							z-index:+10;
							padding:20px;
							background-image:url('../img/cons/bkgrnd-post-full-white.svg');
							background-position:right bottom;
							background-repeat:no-repeat;
						}
						.news-content-wrap.wrap-rich {
							padding-bottom:190px;
							background-image:url('../img/cons/bkgrnd-recog-full-white.svg');
						}
						a.hidden {
							position:absolute;
							width:$col-one;
							height:$col-one;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:+10
						}
					}
					.col.newsfeed-entry:nth-child(even) {
						width:$col-one / 2 - 1;
						margin-left:1%;
					}
					.col.newsfeed-entry:nth-child(odd) {
						width:$col-one / 2 - 1;
						margin-right:1%;
					}
					.casestudy-slider {
						margin:20px 0;
						.ccm-image-slider {
							.ccm-image-slider-inner {
								position:relative;
								.rslides {
									.ccm-image-slider-text {
										background:#F2F2F2;
										padding:40px 20px 20px 20px;
										margin-bottom:2px;
									}
								}
								ul.rslides_tabs {
									position:absolute;
									top:0;
									left:0;
									padding:0;
									z-index:+5;
									li, li.rslides_here {margin-right:0 !important;}
								}
								a.rslides_nav {
									width:50px;
									height:50px;
									top:0 !important;
									margin-top:0 !important;
									opacity:1;
									&.prev {
										background:url('../img/cons/icon-arrow-left-white.svg') center center no-repeat $col-grey;
										margin-left:-50px;
									}
									&.next {
										background:url('../img/cons/icon-arrow-right-white.svg') center center no-repeat $col-grey;
										margin-right:-50px;
									}
								}
							}
						}
					}
				}
			}
		}
		&#landing-shopify {
			section.services-wrap {
				.services-desc {
					background-image:url("../img/cons/bkgrnd-bodyfeed-shopify.svg");
					.bkgrnd-shopify {
						min-height:130px;
						margin-bottom:15px;
						padding:10px 0 10px 140px;
						background-position:left 7px;
						background-repeat:no-repeat;
						background-color:transparent;
						&.store {
							background-image:url("../img/cons/icon-store.svg");
							background-size:190px auto;
							padding:20px 0 20px 220px;
							margin:60px 0;
						}
						&.mobile {
							background-image:url("../img/cons/icon-mobile.svg");
							background-size:115px auto;
						}
						&.shipping {
							background-image:url("../img/cons/icon-shipping.svg");
							background-size:115px auto;
						}
						&.payment {
							background-image:url("../img/cons/icon-payment.svg");
							background-size:115px auto;
						}
						&.sellsocial {
							background-image:url("../img/cons/icon-sellsocial.svg");
							background-size:115px auto;
						}
						&.voucher {
							background-image:url("../img/cons/icon-voucher.svg");
							background-size:115px auto;
						}
						&.products {
							background-image:url("../img/cons/icon-products.svg");
							background-size:115px auto;
						}
						&.seo {
							background-image:url("../img/cons/icon-basket.svg");
							background-size:115px auto;
						}
						&.instore {
							background-image:url("../img/cons/icon-pos.svg");
							background-size:115px auto;
						}
						&.report {
							background-image:url("../img/cons/icon-report.svg");
							background-size:115px auto;
						}
						&.growing {
							background-image:url("../img/cons/icon-growing.svg");
							background-size:115px auto;
							// margin:0 140px;
							padding:10px 0 10px 140px;
						}
					}
				}
			}
		}
		.border-orange {
			border:3px solid $col-yellow;
			padding:10px 20px;
		}
	}

	footer.main {
		position:relative;
		background-color:$col-lime;
		padding:60px 0 0 0;
		.bkgrnd-image {
			position:absolute;
			z-index:+5;
			width:$col-one;
			height:$col-one;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background-image:url('../img/cons/bkgrnd-footer.jpg');
			background-position:center center;
			background-repeat:no-repeat;
			background-size:cover;
			opacity:0.2;
		}
		section.contact-wrap,
		section.social-wrap {
			position:relative;
			z-index:+9;
			.contain {
				padding:20px 0;
				.cols {
					.col {
						float:left;
						&.navigation,
						&.social {
							width:$col-one / 5;
						}
						&.subscribe,
						&.instagram {
							width:$col-one / 5 * 4;
							#instafeed {
								a  {
									position:relative;
									display:inline-block;
									height:$col-one;
									margin:10px 10px 0 0;
									img {
										display:inline-block;
										width:160px;
										height:160px;
									}
									span {
										position:absolute;
										width:30px;
										height:30px;
										padding-top:6px;
										left:10px;
										top:10px;
										background-image:url('../img/cons/icon-likes.svg');
										background-position:center center;
										background-repeat:no-repeat;
										background-size:contain;
									}
								}
							}
						}
						&.subscribe {
							#mc_embed_signup {
								form#mc-embedded-subscribe-form {
									#mc_embed_signup_scroll {
										display:inline-block;
										width:$col-one;
										.indicates-required p {
											font-size:$type-sml;
											padding:0 0 15px 0;
										}
										.mc-field-group {
											float:left;
											width:$col-one / 3 * 2;
											label {display:none;}
										}
										.submit-button {
											float:left;
											width:$col-one / 3;
											padding-left:10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		section.social-wrap {margin-bottom:60px;}
		section.copyright-wrap {
			position:relative;
			z-index:+10;
			background-color:rgba(0,151,136,0.3);
			background-image:url('../img/cons/bkgrnd-copyright.svg');
			background-repeat:no-repeat;
			background-position:right bottom;
			background-size:contain;
			padding:60px 0;
			.contain {
				.cols {
					.col {
						float:left;
						width:$col-one / 2;
					}
				}
			}
		}
	}
}


// Import
@import '_typography.scss';
@import '_responsive.scss';
@import '_print.scss';

// Others
form#ccm-block-form.validate input#ccm-form-submit-button {
	display:none !important;
	visibility:hidden !important;
}

ul.ccm-edit-mode-inline-commands {
	li {
		position:relative;
		z-index:+999999999999 !important;
		a {
			display:block;
			position:absolute;
			z-index:+999999999999 !important;
		}
	}
}
