// core.scss

/* Chris Watterston - Stylesheet */

// Colours
$col-green: #009788;			// rgba(0,151,136,1)
$col-lime: #06d6a0;				// rgba(6,214,160,1)
$col-lime-dark: #05bd8d;
$col-blue: #a0cfd3;				// rgba(160,207,211,1)
$col-blue-dark: #5ba5ab;	// rgba(91,165,171,1)
$col-yellow: #f6bd60;			// rgba(246,189,96,1)
$col-yellow-dark: #f5b348;
$col-grey: #454851;				// rgba(69,72,81,1)
$col-orange: #ff9f1c;			// rgba(255,159,28,1)
$col-orange-dark: #d69221;
$col-white: #FFFFFF;
$col-black: #000000;

$col-facebook: #3b5998;
$col-skoolping: #ff9f1c;
$col-shopify: #94C03C;
$col-shopify-dark: #5d8e38;

// Columns
$col-max: 1052px;
$col-one: 100%;

// Typeface
$type-pri: "tablet-gothic-condensed-1","tablet-gothic-condensed-2",sans-serif;
$type-sec: "open-sans-1","open-sans-2",sans-serif;

// Typography
$type-xsml: 0.6em;
$type-sml: 0.8em;
$type-def: 1em;
$type-med: 1.3em;
$type-lrg: 1.6em;
$type-xlrg: 2.6em;

// Animation
$abtn-speed: 1.0s;
$abtn-trans: 0.9;

// Others
$box-shadow: rgba(0,0,0,.15) 0 10px 10px;

// Import
@import '_reset.scss';

/* Framework */
#cw-wrap {
	position:relative;
	-webkit-transform:translateZ(0);
	-webkit-backface-visibility:hidden;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	transition-property:transform;
	-webkit-transition-duration:$abtn-speed;
	-moz-transition-duration:$abtn-speed;
	transition-duration:$abtn-speed;
	background:$col-white;
	&.lateral-menu-is-open {
	  -webkit-transform:translateX(-320px);
	  -moz-transform:translateX(-320px);
	  -ms-transform:translateX(-320px);
	  -o-transform:translateX(-320px);
	  transform:translateX(-320px);
	}
	header, section, footer {
		width:$col-one;
		// overflow-x:hidden;
	}
	.contain {
		position:relative;
		width:$col-max;
		margin:0 auto;
		.sidebar-link-wrap {
			position:absolute;
			width:$col-one;
			top:0;
			left:$col-one;
			margin-left:20px;
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(rgba(68,255,210,0.4)));
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -moz-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -ms-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			background: -o-linear-gradient(top, rgba(255,255,255,0.4), rgba(68,255,210,0.4));
			.rotate-fix {
				position:inline-block;
				width:$col-one;
				height:$col-one;
				.sidebar-link {
					float:left;
					margin-top:-25px;
					margin-left:10px;
					-webkit-transform-origin:0 100%;
					-moz-transform-origin:0 100%;
					-ms-transform-origin:0 100%;
					-o-transform-origin:0 100%;
					transform-origin:0 100%;
					-webkit-transform:rotate(90deg);
					-moz-transform:rotate(90deg);
					-ms-transform:rotate(90deg);
					-o-transform:rotate(90deg);
					transform:rotate(90deg);
				}
				.rotate-link {
					display:block;
					width:$col-one;
					height:$col-one;
				}
			}
		}
	}
	.cols {
		display:inline-block;
		width:$col-one;
		margin-bottom:-5px;
	}
	.flex-row {
		display:flex;
		flex-flow:row wrap;
	}

	header.main {
		position:relative;
		height:100vh;
		background-image:url('../img/cons/bkgrnd-header.jpg');
		background-size:cover;
		padding:30px 60px;
		section.navigation-wrap {
			.cols {
				.col {
					float:left;
					width:$col-one / 2;
				}
				.col.branding {
					a img.logo {height:40px;}
				}
				.col.navigation {
					nav.main {
						#cd-lateral-nav {
						  position:fixed;
						  height:$col-one;
						  right:-320px;
						  top:0;
						  visibility:hidden;
						  z-index:+100;
						  width:320px;
						  background-color:$col-grey;
							background-color:rgba(69,72,81,0.90);
						  overflow-y:auto;
						  -webkit-transform:translateZ(0);
						  -webkit-backface-visibility:hidden;
						  -webkit-transition:-webkit-transform .6s 0s, visibility 0s .4s;
						  -moz-transition:-moz-transform .6s 0s, visibility 0s .4s;
						  transition:transform .6s 0s, visibility 0s .4s;
						  -webkit-transform:translateX(320px);
						  -moz-transform:translateX(320px);
						  -ms-transform:translateX(320px);
						  -o-transform:translateX(320px);
						  transform:translateX(320px);
						}
						#cd-lateral-nav.lateral-menu-is-open {
						  -webkit-transform:translateX(0);
						  -moz-transform:translateX(0);
						  -ms-transform:translateX(0);
						  -o-transform:translateX(0);
						  transform:translateX(0);
						  visibility:visible;
						  -webkit-transition:-webkit-transform .6s 0s, visibility 0s 0s;
						  -moz-transition:-moz-transform .6s 0s, visibility 0s 0s;
						  transition:transform .6s 0s, visibility 0s 0s;
						  -webkit-overflow-scrolling:touch;
						}
					}
				}
			}
		}
		section.introduction-wrap {
			margin-top:6%;
			// overflow:visible;
			.intro {width:$col-one;}
		}
		section.latestupdates-wrap {
			position:absolute;
			padding-bottom:60px;
			bottom:0;
			left:0;
			// background-image:url('../img/cons/bkgrnd-gradient-white.svg');
			// background-position:center bottom;
			// background-repeat:repeat-x;
			overflow-x:hidden;
			.contain {
				.cols.newsfeed-entrys {
					position:relative;
					padding:0 30px;
					.col.newsfeed-entry {
						position:relative;
						display:inline-block;
						float:left;
						width:$col-one / 2 - 1;
						margin-bottom:20px;
						background:$col-yellow;
						box-shadow:$box-shadow;
						.news-img {
							position:absolute;
							width:$col-one / 2;
							height:$col-one;
							right:0;
							bottom:0;
							z-index:+5;
							background-size:cover;
						}
						.news-content-wrap {
							position:relative;
							z-index:+10;
							padding:20px;
							background-image:url('../img/cons/bkgrnd-post-full-yellow.svg');
							background-position:right bottom;
							background-size:cover;
							background-repeat:no-repeat;
						}
						a.hidden {
							position:absolute;
							width:$col-one;
							height:$col-one;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:+10;
						}
					}
					.col.newsfeed-entry.entry-2,
					.col.newsfeed-entry.entry-3 {
						float:right;
						background:$col-lime;
						.news-img {
							height:$col-one;
							width:$col-one - 57;
						}
						.news-content-wrap {background-image:url('../img/cons/bkgrnd-post-mini.svg');}
					}
				}
			}
		}
	}
	header.main {
		&.page-blog,
		&.page-bloglist,
		&.page-recognition,
		&.page-default,
		&.page-oversize,
		&.page-landing {
			position:relative;
			height:370px;
			background-image:none;

			background:-webkit-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(246,189,96,.4)), to(rgba(0,151,136,1)));
			background:-webkit-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-moz-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-ms-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			background:-o-linear-gradient(bottom, rgba(246,189,96,.6), rgba(0,151,136,1));
			section.navigation-wrap,
			section.introduction-wrap {
				position:relative;
				z-index:+2;
			}
			.bkgrnd-img {
				position:absolute;
				width:$col-one;
				height:$col-one;
				margin:-30px 0 0 -60px;
				background-repeat:no-repeat;
				background-position:center center;
				background-size:cover;
				z-index:1;
				opacity:0.2;
			}
		}
		&.page-default,
		&.page-oversize,
		&.page-bloglist {
			height:250px;
			section.introduction-wrap {margin-top:35px;}
		}
		&.page-landing {
			height:auto;
			section.introduction-wrap {
				margin-top:35px;
				margin-bottom:35px;
			}
			&#landing-shopify {
				background:-webkit-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(92,106,196,1)), to(rgba(48,55,59,.8)));
				background:-webkit-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-moz-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-ms-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
				background:-o-linear-gradient(bottom, rgba(92,106,196,1), rgba(48,55,59,.8));
			}
			&#landing-mobileapp {

			}
		}
	}

	section.body {
		section.services-wrap,
		section.feed-wrap {
			display:inline-block;
			padding-top:60px;
			.services-header,
			.feed-header {
				position:relative;
				width:$col-one - 15;
				padding:0 60px;
			}
			.services-header {margin-bottom:20px;}
			.feed-header:after {
				position:absolute;
				content:'';
				bottom:-15px;
				left:0;
				height:5px;
				width:60px;
				background:rgba(255,255,255,0.6);
			}
			.services-desc,
			.feed-desc {
				background-image:url('../img/cons/bkgrnd-bodyfeed-top.svg');
				background-position:right top;
				background-repeat:no-repeat;
				margin-top:-7px;
				padding:0 60px 160px;
				p.sub-heading {
					padding-top:40px;
					width:$col-one / 2 - 5;
				}
			}
			.services-desc {
				background-image:url('../img/cons/bkgrnd-bodyfeed-left-yellow.svg');
				background-position:left top;
				background-repeat:no-repeat;
				p.sub-heading {
					margin-left:160px;
					padding-top:10px;
					width:$col-one / 2 - 5;
				}
			}
			.feed-body {
				position:relative;
				margin-top:-100px;
				z-index:+10;
				padding:0 30px;
				.contain {
					.cols.newsfeed-entrys {
						.bkgrnd-personalprojects {
							position:relative;
							margin-bottom:20px;
							padding:20px 160px 20px 30px;
							background-size:cover;
							background-position:right;
							box-shadow:$box-shadow;
							z-index:+1;
							* {
								position:relative;
								z-index:+9999;
							}
							&:before {
								position:absolute;
								top:0;
								left:0;
								right:0;
								bottom:0;
								width:$col-one;
								height:$col-one;
								content:" ";
								z-index:0;
							}
							&:after {
								position:absolute;
								top:0;
								left:0;
								right:0;
								bottom:0;
								width:$col-one;
								height:$col-one;
								content:" ";
								background:url("../img/cons/bkgrnd-bodyfeed-right.svg") right bottom no-repeat;
								z-index:+99;
							}
							p.colour-white {width:$col-one / 3 * 2;}
							&.thereisnocloud:before {
								background: -webkit-linear-gradient(right, rgba(118,203,202,0.8), rgba(91,165,171,1));
								background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(118,203,202,0.8)), to(rgba(91,165,171,1)));
								background: -webkit-linear-gradient(right, rgba(118,203,202,0.8), rgba(91,165,171,1));
								background: -moz-linear-gradient(right, rgba(118,203,202,0.8), rgba(91,165,171,1));
								background: -ms-linear-gradient(right, rgba(118,203,202,0.8), rgba(91,165,171,1));
								background: -o-linear-gradient(right, rgba(118,203,202,0.8), rgba(91,165,171,1));
							}
							&.skoolping:before {
								background: -webkit-linear-gradient(right, rgba(31,197,183,0.2), rgba(31,197,183,1));
								background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(31,197,183,0.2)), to(rgba(31,197,183,1)));
								background: -webkit-linear-gradient(right, rgba(31,197,183,0.2), rgba(31,197,183,1));
								background: -moz-linear-gradient(right, rgba(31,197,183,0.2), rgba(31,197,183,1));
								background: -ms-linear-gradient(right, rgba(31,197,183,0.2), rgba(31,197,183,1));
								background: -o-linear-gradient(right, rgba(31,197,183,0.2), rgba(31,197,183,1));
							}
						}
						.col.newsfeed-entry {
							position:relative;
							display:inline-block;
							float:left;
							margin-bottom:20px;
							background:$col-white;
							box-shadow:$box-shadow;
							.news-img {
								position:absolute;
								width:$col-one / 2;
								height:$col-one;
								right:0;
								bottom:0;
								z-index:+5;
								background-size:cover;
							}
							.news-img.img-rich {
								width:$col-one;
								height:$col-one - 30;
							}
							.news-content-wrap {
								position:relative;
								z-index:+10;
								padding:20px;
								background-image:url('../img/cons/bkgrnd-post-full-white.svg');
								background-position:right bottom;
								background-size:cover;
								background-repeat:no-repeat;
							}
							.news-content-wrap.wrap-rich {
								padding-bottom:190px;
								background-image:url('../img/cons/bkgrnd-recog-full-white.svg');
							}
							a.hidden {
								position:absolute;
								width:$col-one;
								height:$col-one;
								top:0;
								right:0;
								bottom:0;
								left:0;
								z-index:+10
							}
						}
						.col.newsfeed-entry:nth-child(even) {
							width:$col-one / 2 - 1;
							margin-left:1%;
						}
						.col.newsfeed-entry:nth-child(odd) {
							width:$col-one / 2 - 1;
							margin-right:1%;
						}
					}
				}
			}
			.services-body {
				width:$col-one;
				padding-bottom:160px;
				.contain {
					width:$col-max;
					height:300px;
					margin-top:-80px;
					.cols {
						.col.service-one,
						.col.service-two,
						.col.service-three,
						.col.service-four {
							float:left;
							width:$col-one / 2;
							// margin-bottom:20px;
							// background-image:url('../img/cons/bkgrnd-services-yellow.svg');
							// background-repeat:no-repeat;
						}
						// .col.service-one {
						// 	// background-position:right 5px;
						// 	padding-right:20px;
						// }
						// .col.service-two {
						// 	background-position:right 5px;
						// }
						// .col.service-three {
						// 	background-position:left 5px;
						// 	padding-left:20px;
						// }
						// .col.service-four {
						// 	background-position:left 5px;
						// 	padding-left:20px;
						// }
					}
				}
			}
			.feed-footer {
				position:relative;
				padding:20px;
				z-index:0;
				.feed-stroke {
					position:relative;
					padding-bottom:60px;
					z-index:0;
					.contain {
						position:relative;
						height:$col-one;
						.cols {
							position:absolute;
							bottom:0;
							padding:0 60px;
							.col {
								float:left;
								width:$col-one / 8 * 6;
							}
							.col.title {
								width:$col-one / 8 * 2;
								height:90px;
								padding:5px 20px 0 0;
								background-position:right top;
								background-repeat:no-repeat;
								background-size:auto;
							}
							.col.topics {
								opacity:0.7;
								padding-top:5px;
								padding-left:20px;
							}
							.col.facebook {
								display:inline-block;
								padding-top:5px;
								.cols {
									position:relative;
									width:$col-one;
									padding:0;
									.col.facebook-post-wrap {
										float:left;
										width:$col-one / 2 - 3;
										margin:0 0 0 3%;
									}
								}
							}
						}
					}
				}
			}
		}
		section.services-wrap {
			background-image:url('../img/cons/bkgrnd-plantgrowth.jpg');
			background-position:115% bottom;
			background-repeat:no-repeat;
		}
		section.negg {margin-top:-100px;}
		section.feed-wrap.green, {
			.feed-desc {
				background-color:$col-green;
				background-image:url('../img/cons/bkgrnd-bodyfeed-bottom.svg');
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-green;
					.contain .cols .col.title {background-image:url('../img/cons/bkgrnd-services-green.svg');}
				}
			}
		}
		section.feed-wrap.lime {
			.feed-desc {
				background-color:$col-lime;
				background-image:url('../img/cons/bkgrnd-bodyfeed-top.svg');
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-lime;
					.contain .cols .col.title {background-image:url('../img/cons/bkgrnd-services-lime.svg');}
				}
			}
		}
		section.feed-wrap.blue {
			.feed-desc {
				background-color:$col-blue;
				background-image:url('../img/cons/bkgrnd-bodyfeed-bottom.svg');
				background-position:right bottom;
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-blue;
					.contain .cols .col.title {background-image:url('../img/cons/bkgrnd-services-blue.svg');}
				}
			}
		}
		section.feed-wrap.yellow {
			.feed-desc {
				background-color:$col-yellow;
				background-image:url('../img/cons/bkgrnd-bodyfeed-right.svg');
			}
			.feed-footer {
				.feed-stroke {
					border:2px solid $col-yellow;
					.contain .cols .col.title {background-image:url('../img/cons/bkgrnd-services-yellow.svg');}
				}
			}
		}
		section.feed-wrap {
			.feed-footer {
				.feed-stroke {
					.contain .cols .col.title.facebook {
						background-image:url('../img/cons/bkgrnd-services-facebook.svg');
					}
				}
			}
		}
	}
	section.body,
	section.body.page-blog,
	section.body.page-recognition,
	section.body.page-oversize,
	section.body.page-default {
		.services-wrap {
			background-image:none;
			.services-body {
				padding-bottom:60px;
				.contain {
					height:auto;
				}
			}
			.services-desc {
				.pcontent {
					margin-left:160px;
					padding-top:10px;
					width:$col-one / 2 + 5;
					.sharethis-inline-share-buttons {
						margin:20px 0;
						padding:20px 0;
						border-top:3px solid #E7E9EE;
						border-bottom:3px solid #E7E9EE;
						.st-btn {
							.st-label {padding-top:8px;}
						}
					}
					.landing-form {
						margin:30px 0;
						form {
							width:$col-one;
							.cols {
								padding:0;
								.col {
									float:left;
									width:$col-one / 2;
									margin-bottom:20px;
									// input[type="text"], input[type="tel"], input[type="email"], textarea, select {background:rgba(69,72,81,0.1);}
									&:nth-child(odd) {
										padding-right:20px;
									}
									&:nth-child(even) {
										padding-left:10px;
									}
									&.full {
										float:none;
										width:$col-one;
										padding:0;
									}
								}
							}
						}
					}
					.cols.more-posts {
						margin-top:50px;
						padding-top:50px;
						padding-left:0;
						padding-right:0;
						border-top:3px solid #E7E9EE;
					}
				}
				.cols {
					padding:0 40px 0 160px;
					.col.newsfeed-entry {
						position:relative;
						display:inline-block;
						float:left;
						margin-bottom:20px;
						background:$col-white;
						box-shadow:$box-shadow;
						.news-img {
							position:absolute;
							width:$col-one / 2;
							height:$col-one;
							right:0;
							bottom:0;
							z-index:+5;
							background-size:cover;
						}
						.news-img.img-rich {
							width:$col-one;
							height:$col-one - 30;
						}
						.news-content-wrap {
							position:relative;
							z-index:+10;
							padding:20px;
							background-image:url('../img/cons/bkgrnd-post-full-white.svg');
							background-position:right bottom;
							background-size:cover;
							background-repeat:no-repeat;
						}
						.news-content-wrap.wrap-rich {
							padding-bottom:190px;
							background-image:url('../img/cons/bkgrnd-recog-full-white.svg');
						}
						a.hidden {
							position:absolute;
							width:$col-one;
							height:$col-one;
							top:0;
							right:0;
							bottom:0;
							left:0;
							z-index:+10
						}
					}
					.col.newsfeed-entry:nth-child(even) {
						width:$col-one / 2 - 1;
						margin-left:1%;
					}
					.col.newsfeed-entry:nth-child(odd) {
						width:$col-one / 2 - 1;
						margin-right:1%;
					}
					.casestudy-slider {
						margin:20px 0;
						.ccm-image-slider {
							.ccm-image-slider-inner {
								position:relative;
								.rslides {
									.ccm-image-slider-text {
										background:#F2F2F2;
										padding:40px 20px 20px 20px;
										margin-bottom:2px;
									}
								}
								ul.rslides_tabs {
									position:absolute;
									top:0;
									left:0;
									padding:0;
									z-index:+5;
									li, li.rslides_here {margin-right:0 !important;}
								}
								a.rslides_nav {
									width:50px;
									height:50px;
									top:0 !important;
									margin-top:0 !important;
									opacity:1;
									&.prev {
										background:url('../img/icns/icon-arrow-left-white.svg') center center no-repeat $col-grey;
										margin-left:-50px;
									}
									&.next {
										background:url('../img/icns/icon-arrow-right-white.svg') center center no-repeat $col-grey;
										margin-right:-50px;
									}
								}
							}
						}
					}
				}
				.cols .general-form,
				.pcontent .general-form {
					form {
						.cols {
							padding:0;
							.col {
								float:left;
								width:$col-one / 2;
								padding-top:20px;
								&:nth-child(odd) {padding-right:20px;}
								&:last-child {
									float:none;
									display:inline-block;
									width:$col-one;
								}
							}
						}
					}
				}
				.enquiry-form {
					border:1px solid red;
					form {
						.cols {
							padding-left:0;
							margin-bottom:30px;
							.col {
								float:left;
								width:$col-one / 2 - 1;
								margin-right:1%;
								padding-top:20px;
								&.full {width:$col-one;}
							}
						}
					}
				}
				.casestudy-stats {
					.ccm-layout-column-wrapper {
						display:-webkit-box;
					  display:-moz-box;
					  display:-ms-flexbox;
					  display:-webkit-flex;
					  display:flex;
					  -webkit-flex-flow:row wrap;
					  flex-flow:row wrap;
						.ccm-layout-column {
							padding:25px 25px 30px 25px;
							background-color:$col-lime;
							&:nth-child(even) {opacity:0.8;}
						}
					}
					&:nth-child(even) {
						.ccm-layout-column-wrapper {
							&:nth-child(odd) {opacity:0.8;}
							&:nth-child(even) {opacity:1;}
						}
					}
				}
			}
			.service-section {
				position:relative;
				margin-bottom:60px;
				.service-desc {
					position:relative;
					background-position:center;
					background-repeat:no-repeat;
					background-size:cover;
					.bkgrnd-grad {
						position:absolute;
						top:0;
						right:0;
						width:$col-one;
						height:$col-one;
					}
					.bkgrnd-pixel-white {
						position:absolute;
						top:0;
						right:0;
						width:$col-one;
						height:$col-one;
						background:url("../img/cons/bkgrnd-bodyfeed-top.svg") right top no-repeat;
						pointer-events:none !important;
					}
				}
				&.full {
					margin-bottom:0;
					.service-desc .content {width:$col-one;}
				}
				&.general {
					.callback-form {
						form {
							.cols {
								.col {
									float:left;
									width:$col-one / 2;
									&.full {
										display:inline-block;
										float:none;
										width:$col-one;
										padding-top:20px;
									}
								}
								.col:first-child {
									padding-right:20px;
								}
							}
						}
					}
				}
				&.featured {margin-bottom:0;}
				&.featured .service-desc {
					// background-image:url("http://www.chriswatterston.com/application/files/9614/9803/4221/header-thereisnocloud.jpg");
					.bkgrnd-grad {
						background:$col-blue;
						// background: -webkit-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						// background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(160,207,211,0.8)), to(rgba(160,207,211,1)));
						// background: -webkit-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						// background: -moz-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						// background: -ms-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						// background: -o-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
					}
				}
				&.ecommerce .service-desc {
					background-image:url("http://www.chriswatterston.com/application/files/1615/0226/4109/banner-shopify-landing.jpg");
					.bkgrnd-grad {
						background: -webkit-linear-gradient(right, rgba(148,192,60,0.8), rgba(148,192,60,1));
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(148,192,60,0.8)), to(rgba(148,192,60,1)));
						background: -webkit-linear-gradient(right, rgba(148,192,60,0.8), rgba(148,192,60,1));
						background: -moz-linear-gradient(right, rgba(148,192,60,0.8), rgba(148,192,60,1));
						background: -ms-linear-gradient(right, rgba(148,192,60,0.8), rgba(148,192,60,1));
						background: -o-linear-gradient(right, rgba(148,192,60,0.8), rgba(148,192,60,1));
					}
				}
				&.mobileapp .service-desc {
					background-image:url("http://www.chriswatterston.com/application/files/2515/0522/9671/banner-mobileapp-landing.jpg");
					.bkgrnd-grad {
						background: -webkit-linear-gradient(right, rgba(255,159,28,0.8), rgba(255,159,28,1));
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,159,28,0.8)), to(rgba(255,159,28,1)));
						background: -webkit-linear-gradient(right, rgba(255,159,28,0.8), rgba(255,159,28,1));
						background: -moz-linear-gradient(right, rgba(255,159,28,0.8), rgba(255,159,28,1));
						background: -ms-linear-gradient(right, rgba(255,159,28,0.8), rgba(255,159,28,1));
						background: -o-linear-gradient(right, rgba(255,159,28,0.8), rgba(255,159,28,1));
					}
				}
				&.websitedesign .service-desc {
					background-image:url("http://www.chriswatterston.com/application/files/3415/0523/0468/banner-websitedesign-landing.jpg");
					.bkgrnd-grad {
						background: -webkit-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(160,207,211,0.8)), to(rgba(160,207,211,1)));
						background: -webkit-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						background: -moz-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						background: -ms-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
						background: -o-linear-gradient(right, rgba(160,207,211,0.8), rgba(160,207,211,1));
					}
				}
				.service-header {
					position:relative;
					padding:0 60px;
					z-index:+5;
				}
				.service-header:after {
					position:absolute;
					content:'';
					left:0;
					height:5px;
					width:60px;
					margin-top:20px;
					background:rgba(255,255,255,0.6);
				}
				.service-desc {
					width:$col-one;
					margin-top:-7px;
					.content {
						position:relative;
						width:$col-one / 2 + 15;
						padding:40px 60px;
						z-index:+5;
						.bkgrnd-icon {
							min-height:90px;
							padding:0 20px 5px 100px !important;
							&.more {
								padding-top:25px !important;
							}
						}
					}
				}
			}
		}
		&#landing-shopify {
			section.services-wrap {
				.services-desc {
					background-image:url("../img/cons/bkgrnd-bodyfeed-shopify.svg");
				}
			}
		}
		&#landing-mobileapp,
		&#landing-websitedesign {
			section.services-wrap {
				.services-desc {
					background-image:url("../img/cons/bkgrnd-bodyfeed-websitedesign.svg");
				}
			}
		}
		&#landing-mobileapp {
			section.services-wrap {
				.services-desc {
					background-image:url("../img/cons/bkgrnd-bodyfeed-mobileapp.svg");
				}
			}
		}
		.border-orange {
			border:3px solid $col-yellow;
			padding:10px 20px;
		}
		.vivid-thumb-gallery {
			background-color:#BDDEE0;
			margin-top:20px;
			margin-bottom:20px;
			.thumb-item {
				padding-right:0;
			}
		}

		.bkgrnd-icon {
			min-height:130px;
			margin-bottom:15px;
			padding:10px 0 10px 140px;
			background-position:left 7px;
			background-repeat:no-repeat;
			background-color:transparent;
			background-size:115px auto;
			&.large {
				background-size:190px auto !important;
				padding:20px 0 20px 220px !important;
				margin:60px 0 !important;
			}
			&.small {background-size:80px auto !important;}
			&.strech {padding:10px 0 10px 140px !important;}

			&.store {background-image:url("../img/icns/icon-store.svg");}
			&.shipping {background-image:url("../img/icns/icon-shipping.svg");}
			&.payment {background-image:url("../img/icns/icon-payment.svg");}
			&.sellsocial {background-image:url("../img/icns/icon-sellsocial.svg");}
			&.voucher {background-image:url("../img/icns/icon-voucher.svg");}
			&.products {background-image:url("../img/icns/icon-products.svg");}
			&.instore {background-image:url("../img/icns/icon-instore.svg");}
			&.report {background-image:url("../img/icns/icon-report.svg");}
			&.growing {background-image:url("../img/icns/icon-growing.svg");}
			&.mobile {background-image:url("../img/icns/icon-mobile.svg");}
			&.mobileapp {background-image:url("../img/icns/icon-mobileapp.svg");}
			&.website {background-image:url("../img/icns/icon-website.svg");}
			&.map {background-image:url("../img/icns/icon-map.svg");}
			&.programming {background-image:url("../img/icns/icon-programming.svg");}
			&.planning {background-image:url("../img/icns/icon-planning.svg");}
			&.bespoke {background-image:url("../img/icns/icon-bespoke.svg");}
			&.collaboration {background-image:url("../img/icns/icon-collaboration.svg");}
			&.brand {background-image:url("../img/icns/icon-brand.svg");}
			&.launch {background-image:url("../img/icns/icon-launch.svg");}
			&.cms {background-image:url("../img/icns/icon-cms.svg");}
			&.accessibility {background-image:url("../img/icns/icon-accessibility.svg");}
			&.access {background-image:url("../img/icns/icon-access.svg");}
			&.supporttime {background-image:url("../img/icns/icon-supporttime.svg");}
			&.responsive {background-image:url("../img/icns/icon-responsive.svg");}
			&.styleguidelines {background-image:url("../img/icns/icon-styleguidelines.svg");}
			&.seo {background-image:url("../img/icns/icon-seo.svg");}
			&.hosting {background-image:url("../img/icns/icon-hosting.svg");}
			&.disaster {background-image:url("../img/icns/icon-disaster.svg");}
			&.training {background-image:url("../img/icns/icon-training.svg");}
			&.monitoring {background-image:url("../img/icns/icon-monitoring.svg");}
			&.migration {background-image:url("../img/icns/icon-migration.svg");}
			&.concrete {background-image:url("../img/icns/icon-concrete.svg");}
			&.contact {background-image:url("../img/icns/icon-contact.svg");}
			&.more {background-image:url("../img/icns/icon-more.svg");}
		}

	}

	footer.main {
		position:relative;
		background-color:$col-lime;
		padding:60px 0 0 0;
		.bkgrnd-image {
			position:absolute;
			z-index:+5;
			width:$col-one;
			height:$col-one;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background-image:url('../img/cons/bkgrnd-footer.jpg');
			background-position:center center;
			background-repeat:no-repeat;
			background-size:cover;
			opacity:0.2;
		}
		section.contact-wrap,
		section.social-wrap {
			position:relative;
			z-index:+9;
			padding:0 60px;
			.contain {
				padding:20px 0;
				.cols {
					.col {
						float:left;
						&.navigation,
						&.social {
							width:$col-one / 5;
						}
						&.subscribe,
						&.instagram {
							width:$col-one / 5 * 4;
							#instafeed {
								a  {
									position:relative;
									display:inline-block;
									height:$col-one;
									margin:10px 10px 0 0;
									img {
										display:inline-block;
										width:160px;
										height:160px;
									}
									span {
										position:absolute;
										width:30px;
										height:30px;
										padding-top:6px;
										left:10px;
										top:10px;
										background-image:url('../img/icns/icon-likes.svg');
										background-position:center center;
										background-repeat:no-repeat;
										background-size:contain;
									}
								}
							}
						}
						&.subscribe {
							#mc_embed_signup {
								form#mc-embedded-subscribe-form {
									#mc_embed_signup_scroll {
										display:inline-block;
										width:$col-one;
										.indicates-required p {
											font-size:$type-sml;
											padding:0 0 15px 0;
										}
										.mc-field-group {
											float:left;
											width:$col-one / 3 * 2;
											label {display:none;}
										}
										.submit-button {
											float:left;
											width:$col-one / 3;
											padding-left:10px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		section.social-wrap {margin-bottom:60px;}
		section.copyright-wrap {
			position:relative;
			z-index:+10;
			background-color:rgba(0,151,136,0.3);
			background-image:url('../img/cons/bkgrnd-copyright.svg');
			background-repeat:no-repeat;
			background-position:right bottom;
			background-size:contain;
			padding:60px;
			.contain {
				.cols {
					.col {
						float:left;
						width:$col-one / 2;
					}
				}
			}
		}
	}
}


// Import
@import '_typography.scss';
@import '_responsive.scss';
@import '_print.scss';

// Others
form#ccm-block-form.validate input#ccm-form-submit-button {
	display:none !important;
	visibility:hidden !important;
}

ul.ccm-edit-mode-inline-commands.ccm-ui {
	li {
		position:relative !important;
		a {
			position:absolute;
			display:block;
			height:$col-one;
			width:$col-one;
			z-index:+9999999999999 !important;
		}
	}
}
