# Enabling of media types
<IfModule mod_mime.c>
    AddType image/svg+xml .svg .svgz
    AddType application/zip .zip
    AddType image/png .png
    AddType image/gif .gif
    AddType text/css .css
    AddType application/x-gzip .gz .gzip
    AddType image/x-icon .ico
    AddType image/jpeg .jpg .jpeg .jpe
    AddType application/json .json
    AddType video/mp4 .mp4 .m4v
    AddType application/pdf .pdf
    AddType application/vnd.ms-excel .xla .xls .xlsx .xlt .xlw
    AddHandler application/x-httpd-php .php .html
</IfModule>

# URL rewrite
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Force HTTPS (exc WWW)
    # If we receive a forwarded http request from a proxy...
    RewriteCond %{HTTP:X-Forwarded-Proto} =http [OR]
    # ...or just a plain old http request directly from the client
    RewriteCond %{HTTP:X-Forwarded-Proto} =""
    RewriteCond %{HTTPS} !=on
    # Redirect to https version
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Default
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    # Bespoke
    RewriteRule ^work/case-study/(.*) /case-study.php?work=$1 [L]
    RewriteRule ^article/(.*) /article.php?article=$1 [L]
    # Default
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule (.*) $1.php [L]
</IfModule>

# Block robots from index files
<FilesMatch "robots.txt">
    Header set X-Robots-Tag "noindex"
</FilesMatch>
<FilesMatch ".(json|svg)$">
    Header set X-Robots-Tag "noindex, noarchive, nosnippet"
</FilesMatch>

# Redirects
Redirect 301 /blog/interviewed-and-featured-on-an-original-podcast-command-line-heroes-by-red-hat /article/there-is-no-cloud-podcast-feature
Redirect 301 /blog/snow-days-impact-school-websites-in-a-big-way-and-its-important-were-ready /article/snow-impacts-education-website
Redirect 301 /blog/microsoft-azure-app-service-vs-virtual-machine-why-i-would-consider-you-choose-a-virtual-machine-for-your-hosting-solution /article/azure-web-app-vs-virtual-machine-hosting
Redirect 301 /blog/launching-the-official-skoolping-landing-page-website-design /article/beta-launch-skoolping-app-for-education
Redirect 301 /blog/a-much-needed-spotify-widget-for-the-notification-center /article/missing-spotify-widget-mac-os
Redirect 301 /blog/creating-pfx-certificate-files-and-installing-ssl-certificates-on-your-microsoft-azure-web-app-service /article/create-pfx-crt-install-ssl-azure-web-app
Redirect 301 /blog/meltdown-and-spectre-vulnerability-update /article/meltdown-spectre-cpu-flaw-update
Redirect 301 /blog/setting-2018-with-6-goals-what-i-will-focus-progress-and-experiment-with-throughout-2018 /article/2018-new-year-goal-setting
Redirect 301 /blog/starting-2016-old-challenges /article/2016-new-year-goal-setting
Redirect 301 /blog/a-breakdown-of-the-general-data-protection-regulation-gdpr-as-outlined-by-the-ico-information-commissioners-office /article/brief-breakdown-gdpr-ico
Redirect 301 /blog/progress-on-skoolping-and-why-theres-been-a-substantial-delay /article/skoolping-app-progress-delay
Redirect 301 /blog/the-not-so-shocking-costs-involved-for-your-design-and-development-solutions /article/no-shock-cost-of-web-design-solutions
Redirect 301 /blog/aerial-footage-from-our-short-family-break-in-bute-scotland /article/aerial-footage-isle-bute-rothesay-scot
Redirect 301 /blog/building-a-hobbit-adventure-for-our-kids /article/hobbit-adventure-play-house

# Compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>