// core.scss
/* Chris Watterston - Stylesheet */

// Colours
$col-green: #009788;
$col-lightgreen: #06d6a0;
$col-grey: #454851;
$col-blue: #a0cfd3;
$col-yellow: #f6bd60;
$col-white: #FFFFFF;

// Columns
$col-one: 100%;
$col-max: 1024px;

// Typeface
$type-pri: "bebas-neue",sans-serif;
$type-sec: "tablet-gothic-condensed",sans-serif;

// Typography
$type-sml: 1.05em;
$type-def: 1.1em;
$type-med: 1.3em;
$type-lrg: 2.2em;

// Animation
$abtn-speed: 0.2s;
$abtn-trans: 0.8;


section.cwdash-body,
section.cwdash-body * {
	background:transparent;
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	vertical-align:baseline;
	font-family:$type-sec;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-size:100%;
	line-height:120%;
	list-style:none;
	outline:none;
	border:0;
	cursor:default;
	-webkit-font-smoothing:antialiased;
}
section.cwdash-body i.fa {font-family:FontAwesome !important;}
section.cwdash-body {
    background-color:$col-white;
    .cwdash-btns {
	    width:$col-one;
	    max-width:$col-max;
	    padding:0 0.5%;
	    text-align:right;
		.abtn {
			display:inline-block;
			background:$col-lightgreen;
			margin:10px 0 10px 10px;
			padding:14px 24px;
			color:$col-white;
			text-decoration:none;
			border:0;
			-webkit-transition-duration:$abtn-speed;
			-moz-transition-duration:$abtn-speed;
			-o-transition-duration:$abtn-speed;
			transition-duration:$abtn-speed;
			cursor:pointer !important;
			i.fa {margin-right:10px;}
		}
		.abtn:hover {opacity:$abtn-trans;}
	}
	.cwdash-wrap {
		display:block;
		width:$col-one;
		max-width:$col-max;
		margin:0 auto;
		background:transparent;
		.cwdash-inline {
			width:$col-one;
			display:inline-block;
			//margin-top:10px;
			padding:0.5%;
			.col.lft {
				width:$col-one / 5 * 2;
			}
			.col.rgt {
				width:$col-one / 5 * 3;
			}
			.col {
				float:left;
				display:block;
				padding:10px 0 10px 0;

				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;  
				
				-webkit-flex-flow: row wrap;
				flex-flow: row wrap;
				
  				.cwdash-item {
					float:left;
					width:$col-one / 2 - 1;
					margin:0 1% 1% 0;
					flex:flex-end;
					div {
						span,
						div {
							display:block;
							width:$col-one;
							color:$col-white;
						}
						span.subject {
							font-family:$type-pri;
							font-size:$type-med;
							text-transform:uppercase;
							padding:20px;
							text-align:left;
							i.fa {margin-right:10px;}
						}
						span.data {
							font-size:$type-lrg;
							padding:0 20px;
							text-align:center;
							i.fa.status {
								font-size:$type-lrg * 2.2;
								
							}
						}
						div.data {
							text-align:center;
							font-size:$type-def;
							padding:0 20px;
							table.table-default {
								width:$col-one;
								margin:0;
								padding:0;
								font-size:$type-def;
								tbody {
									tr {
										td {
											padding:5px 10px;
											text-align:left;
											color:$col-white;
										}
										td:last-child {text-align:right;}
										
									}
									tr:nth-child(odd) {background:rgba(255,255,255,0.2);}
								}
							}
							canvas.chart {
								width:$col-one;
								height:auto;
								background:transparent;
							}
							.blog-post {
								p {text-align:left;}
								p.blog-title a {
									font-size:$type-def;
									color:$col-white;
									text-decoration:none;
									cursor:pointer;
									font-weight:700;
									i {cursor:pointer;}
								}
								p.blog-date {
									color:$col-white;
									font-size:$type-sml;
									padding-top:5px;
									padding-left:10px;
								}
								p.blog-desc {
									font-size:$type-def;
									color:$col-white;
									margin-bottom:20px;
									padding-left:10px;
								}
							}
							.blog-post:last-child p.blog-desc {margin-bottom:0;}
						}
						.data.chart {
							padding-right:0 !important;
							padding-left:0 !important;
						}
						span.desc {
							text-align:center;
							font-size:$type-sml;
							text-transform:lowercase;
							padding:20px;
							strong {
								font-weight:700;
							}
						}
					}
				}
				.cwdash-item.narrow {
					width:$col-one / 2 - 1.5;
					margin:0 1.5% 1.5% 0;
				}
				.cwdash-item.col-one {
					background:$col-green;
				}
				.cwdash-item.col-two {
					background:$col-yellow;
				}
				.cwdash-item.col-three {
					background:$col-lightgreen;
				}
				.cwdash-item.col-four {
					background:$col-grey;
				}
				.cwdash-item.col-five {
					background:$col-blue;
				}
				.cwdash-item.large {
					width:$col-one - 1;
				}
			}
			.col.narrow {
				.cwdash-item {
					width:$col-one / 2 - 1.5;
					margin:0 1.5% 1.5% 0;
				}
				.cwdash-item.large {
					width:$col-one - 1.5;
				}
			}
		}
	}
	.credit-services {
		padding:50px 0;
		p {
			color:$col-green;
			font-size:$type-sml;
			text-align:center;
			img {margin:10px 2px;}
		}
	}
	#chartjs-tooltip {
		opacity:1;
		position:absolute;
		background:rgba(0, 0, 0, .7);
		font-family:$type-sec;
		color:white;
		padding:3px;
		border-radius:3px;
		-webkit-transition:all .1s ease;
		transition:all .1s ease;
		pointer-events:none;
		-webkit-transform:translate(-50%, 0);
		transform:translate(-50%, 0);
	}
	#chartjs-tooltip.below {
		-webkit-transform:translate(-50%, 0);
		transform:translate(-50%, 0);
	}
	#chartjs-tooltip.below:before {
		border:solid;
		border-color:#111 transparent;
		border-color:rgba(0, 0, 0, .8) transparent;
		border-width:0 8px 8px 8px;
		bottom:1em;
		content:"";
		display:block;
		left:50%;
		position: absolute;
		z-index:99;
		-webkit-transform:translate(-50%, -100%);
		transform:translate(-50%, -100%);
	}
	#chartjs-tooltip.above {
		-webkit-transform:translate(-50%, -100%);
		transform:translate(-50%, -100%);
	}
	#chartjs-tooltip.above:before {
		border:solid;
		border-color:#111 transparent;
		border-color:rgba(0, 0, 0, .8) transparent;
		border-width:8px 8px 0 8px;
		bottom:1em;
		content:"";
		display:block;
		left:50%;
		top:100%;
		position:absolute;
		z-index:99;
		-webkit-transform:translate(-50%, 0);
		transform:translate(-50%, 0);
	}

	.cwdash-wrap#cwapp {
		.cwapp-inline {
			width:$col-one;
			display:inline-block;
			.col {
				float:left;
				display:block;
				width:$col-one / 2;
				section {
					display:block;
					margin-bottom:20px;
					.form-wrap {
						margin-top:10px;
						padding:0 20px 20px 20px;
						background:rgba(186,190,193,0.2);
						form {
							.form-group {
								display:inline-block;
								width:$col-one;
								margin:10px 0 10px 0;
								p {
									margin-top:5px;
									margin-bottom:5px;
								}
								p.app-tip {
									font-size:0.8em;
									color:$col-grey;
								}
								label {
									font-weight:700;
									text-transform:uppercase;
								}
								.checkbox {
									display:inline-block;
									margin-right:15px;
									label {
										width:auto;
										display:inline-block;
										margin-left:3px;
									}
									input[type="checkbox"] {
										margin-left:0;
										margin-top:-10px;
										width:100%;
										cursor:pointer;
									}
								}
							}
							.form-group:first-child {
								margin-top:20px;
							}
							.form-group:last-child {
								margin-bottom:0;
							}
						}
					}
				}
			}
			.col:first-child {
				padding:0 10px 0 0;
			}.col:last-child {
				padding:0 0 0 10px;
			}
			.col.full {
				width:$col-one;
				padding:0;
			}
		}
	}
	
	
	h1 {
		font-size:$type-lrg;
		font-weight:700;
		color:$col-green;
	}
	h2 {
		font-size:1.4em;
		@extend h1;
	}
}
/* Responsive */
@media screen and (max-width:1100px){
	section.cwdash-body {
		.cwdash-wrap {width:900px;}
	}
}
@media screen and (max-width:950px){
	section.cwdash-body {
		.cwdash-wrap {width:750px;}
	}
}
@media screen and (max-width:768px){
	section.cwdash-body {
		.cwdash-wrap {
			padding:3px;
			width:$col-one;
			overflow:hidden !important;
		}
	}
}
@media screen and (max-width:736px){
	section.cwdash-body {
		.cwdash-wrap {
			padding:3px;
			width:$col-one;
			overflow:hidden !important;
			.cwdash-inline {
				padding:0;
				.cwdash-btns {padding:0;}
				.col {
					.cwdash-item {width:$col-one !important;}
				}
			}
		}
	}
}

// External imports
@import url('http://assets.freshdesk.com/widget/freshwidget.css');